@{
	SAG2.Models.Usuario Usuario = (SAG2.Models.Usuario) Session["Usuario"];
	SAG2.Models.Proyecto Proyecto = (SAG2.Models.Proyecto) Session["Proyecto"];
	var FondoFijoUtilizado = @ViewBag.FondoFijoUtilizado;
    if (Session["FondoFijoUtilizado"] != null)
    {
        FondoFijoUtilizado = float.Parse(Session["FondoFijoUtilizado"].ToString());
    }
    var autorizacionesPendientes = @ViewBag.AutorizacionesPendientes;
    if (Session["AutorizacionesPendientes"] != null)
    {
        autorizacionesPendientes = Int32.Parse(Session["AutorizacionesPendientes"].ToString());
    }
    
    var respuestaAuditoria = @ViewBag.RespuestaAuditoria;
    if (Session["RespuestaAuditoria"] != null)
    {
        respuestaAuditoria = Int32.Parse(Session["RespuestaAuditoria"].ToString());
    }

    var alertas = @ViewBag.Alertas;
    if (Session["Alertas"] != null)
    {
        alertas = Session["Alertas"].ToString();
    }
}

    <div class="blog-nav navbar-default navbar-fixed-top navbar-closed notscrolled">
    <div class="ocultoImpresion">
        <a class="navbar-brand">
            <img  class ="brand_logo svgLogo" src ="@Url.Content("~/Content/Logo_Codeni3.png")" style="padding-bottom: 0px; border-top-width: 0px; margin-top: -15px;width: 45px; margin-right: -16px;">
            Sag
             </a>
        <div class="ocultoImpresion">
		<ul class="nav navbar-nav" >
			<li><a>Herramientas</a>
				<ul class="menu dropdown dropdown-menu">
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Home">P&aacute;gina de inicio</a></li>
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Herramientas/Propiedades/">Propiedades del sistema</a></li>
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Herramientas/CambioDeContrasena/">Cambio de contrase&ntilde;a</a></li>
					<!--<li><a href="/SAG2">Notas</a></li>-->
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/PreguntasFrecuentes/">Preguntas Frecuentes</a></li>
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Content/AyudaM/Manual/Index.html" onclick="window.open(this.href,'ManualAyuda','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">Manual de Ayuda</a></li>
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Login/Logout">Salir</a></li>
				</ul>
			</li>
   
			     <li><a>Mantenedores</a>
				    <ul class="menu dropdown dropdown-menu">
                        <li class="dropdown-submenu"><a >Bancos</a>
						   <ul class="dropdown-menu">  
                        @if (!Usuario.esUsuario)
							{                        
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Banco/Create">Maestro bancos</a></li>
                              
                            }
							  <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/CuentaCorriente/Create">Ctas. Ctes.</a></li>
                            </ul>
                        </li>
                    
                         @if (Usuario.esAdministrador)
                         {
                            <li class="dropdown-submenu"><a href="javascript:void();">Bodega</a>                                               
                                <ul class="dropdown-menu"> <!--class="dropdown-menu"-->
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Articulos/Create">Art&iacute;culos</a></li>
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/UnidadesMedidas/Create">Unidades de medida</a></li>
                                </ul>                                               
                            </li>
                      
                        <li class="dropdown-submenu"><a >Conceptos</a>

                                 <ul class="dropdown-menu">
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/TipoImputacion/Create">Imputaci&oacute;n</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/TipoOrigenAdquisicion/Create">Origen de adquisici&oacute;n</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/TipoPersonal/Create">Tipo de personal</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/TiposProyectos/Create">Tipo de proyectos</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/LineasAtencion/Create">L&iacute;neas de acci&oacute;n</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Servicios/Create">Servicios</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Documento/Create">Documentos</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Comuna/Create">Comunas</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Region/Create">Regiones</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Pais/Create">Pa&iacute;ses</a></li>
                            </ul>
                            
                            
                        </li>

                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Cuentas/Create">Cuentas</a></li>
						 <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/CuentaGlosa/Create">Glosa x Cuenta</a></li>
                        <li class="dropdown-submenu"><a href="javascript:void();">Intervenciones</a>
                                <ul class="dropdown-menu">
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/EstadoIntervencion/Create">Estados de Pago</a></li>
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/ParametroUSS/Create">Cantidad de la USS</a></li>
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/ProgramaQ/Create">Valor USS</a></li>
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/PorcentajeZona/Create">Porcentaje Zona</a></li>
                                </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="javascript:void();">Inventario</a>
                                <ul class="dropdown-menu">
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienFamilia/Create">Familias</a></li>
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienSubFamilia/Create">Sub Familias</a></li>
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienEstadoInventario/Create">Estados</a></li>
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienProcedencia/Create">Procedencias</a></li>
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienCondicion/Create">Condici&oacute;n</a></li>
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Dependencias/Create">Dependencias</a></li>
                                </ul>
                        </li>
                         }
                        <li class="dropdown-submenu"><a>Personal</a>
                            <ul class="dropdown-menu">
                              <li ><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Personal/Create">Maestro personal</a></li>

                            @if (!Usuario.esUsuario)
							{
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Profesion/Create">Profesi&oacute;n</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Cargo/Create">Cargos</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Rol/Create">Asignar roles</a></li>
                            }
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="javascript:void();">Programas</a>
                            <ul class="dropdown-menu"> 
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Proyectos/Create">Programas</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Contratos/Create">Contratos</a></li>
                            @if (!Usuario.esUsuario)
                            {
	                             <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Proyectos/ListadoProyectos">Listado Programas</a></li>
                                  <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Proyectos/ListadoProyectosPresupuesto">Listado Programas Presupuesto</a></li>
	                         }
                            </ul>
                        </li>
                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Proveedores/Create">Proveedores</a></li>
                           @if (Usuario.esAdministrador)
                         {
                        <li class="dropdown-submenu"><a>Reportes</a>
                            <ul class="dropdown-menu">			
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/TipoInforme">Tipo Reporte</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe">Contenido Reporte</a></li>							
                            </ul>
                        </li>
                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Referencia/Create">Tasa Imp. Honorario</a></li>
                           }
				    </ul>
			     </li>
		 
			@if (DateTime.Now.Year > Proyecto.PeriodoInicio || (DateTime.Now.Month >= Proyecto.MesInicio && DateTime.Now.Year >= Proyecto.PeriodoInicio) || Proyecto.MesInicio == null)
            {
       // Si el proyecto no se ha iniciado no se pueden igresar movimientos
			<li><a href="javascript:void();" id="MenuRendicion">Rendici&oacute;n de cuentas</a>
				<ul class="menu dropdown dropdown-menu">
                    @if (!Proyecto.estaCerrado)
                    {
                  
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Ingresos/Create">Ingresos</a></li>
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Reintegros/Create2">Reintegros</a></li>
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Egresos/Create">Egresos</a></li>
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/DeudasPendientes/Create">Deudas pendientes</a></li>
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/CajaChica/Create">Caja chica</a></li>
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/DepositoPlazo/Create">Dep&oacute;sitos a plazos</a></li>
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BoletasHonorarios/Create">Corregir Honorarios </a></li>
                    }
                    <li class="dropdown-submenu"><a href="javascript:void();">Registro Pago</a>
						<ul class="dropdown-menu">
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/RegistroSemanalPago">Progr. semanal de pagos</a></li>
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/RegistroPagoFechas">Progr. de pagos entre fechas</a></li>
                            		</ul>
					</li>
					<li class="dropdown-submenu"><a href="javascript:void();">Rendici&oacute;n de cuentas</a>
						<ul class="dropdown-menu">
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Rendicion/Codeni">Car&aacute;tula Actual</a></li>
                            @if (!Proyecto.estaCerrado)
                            {   
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Rendicion/">Generar Rendici&oacute;n</a></li>
                            }
                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Rendicion/ListadoRendiciones">Rendiciones Anteriores</a></li>
                            @if (!Usuario.esUsuario)
                            {
                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/SenaInfo">Archivo SenaInfo</a></li>   
                            }
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="javascript:void();">Control interno</a>
				<ul class="menu dropdown dropdown-menu">
					
					 <li class="dropdown-submenu"><a href="javascript:void();">Banco</a>
						<ul class="dropdown-menu">
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Banco/Libro">Libro banco</a></li>
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Banco/Conciliacion">Conciliaci&oacute;n bancaria</a></li>
                              @if (!Usuario.esUsuario)
                              {
                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Banco/Saldos">Saldo Libro Banco</a></li>
                              }
						</ul>
					</li>
                    <li class="dropdown-submenu"><a href="javascript:void();">Estado de Resultados</a>
						<ul class="dropdown-menu">
						@if (!Usuario.esUsuario)
                        {
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/Balance">Ingresos y Gastos </a></li>
                        }
                             @if (!Usuario.esUsuario)
                             {
                                   
							  <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/LineaProteccion">EE.RR. Proy. L&iacute;nea P.D. </a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/LineaResponsabilidad">EE.RR. Proy. L&iacute;nea R.P.A.</a></li>
                                 <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/LineaPrevencion?La=7">EE.RR. Proy. L&iacute;nea Prevenci&oacute;n</a></li>
                                 <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/LineaProyecto">EE.RR. por L&iacute;nea entre fechas</a></li>
                                 <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/LineaProyectoAnual">EE.RR. por L&iacute;nea por Proy. Anual</a></li>
                                 // href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/Graficos">Gráficos</a></li>-->
                             }
                               <li class="dropdown-submenu">
                                    <a href="/SAG_5/Informe/"> Reportes EERR </a>
                                    <ul class="dropdown-menu">
                                        @if (Usuario.esAdministrador || Usuario.esSupervisor)
                                        {
                                         <li class="dropdown-submenu">
                                                <a href="/SAG_5/Informe/"> Reporte Normal </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reportePrograma">Por Programa</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteRegion">Por Regi&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteLinea">L&iacute;nea Atenci&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteTipoPrograma">Tipo Programa</a></li>
                                                        </ul>
                                                    </li>
                                        }
                                                @if (Usuario.esAdministrador || Usuario.esSupervisor)
                                                {
                                                    <li class="dropdown-submenu">
                                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/"> Reporte S&iacute;ntesis </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteProgramaSintesis">Por Programa</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteRegionSintesis">Por Regi&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteLineaSintesis">L&iacute;nea Atenci&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteTipoSintesis">Tipo Programa</a></li>
                                                        </ul>
                                                    </li>
                                                }
                                                @if (Usuario.esAdministrador || Usuario.esSupervisor)
                                                {
                                                    <li class="dropdown-submenu">
                                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/"> Reporte Estandar</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteProgramaEstandar">Por Programa</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteRegionEstandar">Por Regi&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteLineaEstandar">L&iacute;nea Atenci&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteTipoEstandar">Tipo Programa</a></li>
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
						</ul>
					</li>
                                 <li class="dropdown-submenu">
                                    <a href="javascript:void();">Inventario</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienModInventario/Create">Ingresar Bienes</a></li>
                                         <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienModInventario/CreateDonacion">Donaci&oacute;n de  Bienes</a></li>
                                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienModInventario/Baja">Baja de Bienes</a></li>
                                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienModInventario/Traslado">Traslado de Bienes</a></li>                                        
                                        @if (Usuario.esAdministrador)
                                        {
                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienAutorizacion">Autorizaci&oacute;n de Bienes</a></li>}
                                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienAutorizacion/BienesAnulados">Movimientos Rechazados</a></li>
                                    </ul>
                                </li>
                  	<li class="dropdown-submenu"><a href="javascript:void();">Presupuesto</a>
						<ul class="dropdown-menu">
                        @if (!Proyecto.estaCerrado)
                        {
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/Formulacion">Formulaci&oacute;n</a></li>
                        }
							                      
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/Control">Control Presupuestario</a></li>
                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/ControlLinea?La=4 ">Ejec. Pptos. Proy. L&iacute;nea P.D.</a></li>
                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/ControlLinea?La=1">Ejec. Pptos. Proy. L&iacute;nea R.P.A.</a></li>
                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Presupuesto/ControlLinea?La=7">Ejec. Pptos. Proy. L&iacute;nea Prevenci&oacute;n</a></li>
					                                                  						
                           <li class="dropdown-submenu">
                                            <a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/"> Reportes Control Presupuestario </a>
                                            <ul class="dropdown-menu">
                                                @if (Usuario.esAdministrador || Usuario.esSupervisor)
                                                {
                                                    <li class="dropdown-submenu">
                                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/"> Reporte Normal </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteProgramaCC">Por Programa</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteRegionCC">Por Regi&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteLineaCC">L&iacute;nea Atenci&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteTipoProgramaCC">Tipo Programa</a></li>
                                                        </ul>
                                                    </li>
                                                }
                                                @if (Usuario.esAdministrador || Usuario.esSupervisor)
                                                {
                                                    <li class="dropdown-submenu">
                                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/"> Reporte S&iacute;ntesis </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteProgramaSintesisCC">Por Programa</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteRegionSintesisCC">Por Regi&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteLineaSintesisCC">L&iacute;nea Atenci&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteTipoSintesisCC">Tipo Programa</a></li>
                                                        </ul>
                                                    </li>
                                                }
                                                @if (Usuario.esAdministrador || Usuario.esSupervisor)
                                                {
                                                    <li class="dropdown-submenu">
                                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/"> Reporte Estandar</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteProgramaEstandarCC">Por Programa</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteRegionEstandarCC">Por Regi&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteLineaEstandarCC">L&iacute;nea Atenci&oacute;n</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informe/reporteTipoEstandarCC">Tipo Programa</a></li>
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                            </ul>
					
                         <li class="dropdown-submenu"><a href="javascript:void();">Bodega</a>
						<ul class="dropdown-menu">
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/MovimientosBodega/movimientoentrada">Entrada a Bodega</a></li>
                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/MovimientosBodega/movimientosalida">Salida de Bodega</a></li>
                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/MovimientosBodega/movimientoDonacion">Entrada a Donaciones</a></li>
                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Bodega/Saldos">Saldos</a></li>
								  @if (Usuario.esAdministrador)
                             {
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Bodega/trasladoBodega">Traslado de Bodega</a></li>
                            }
                                 <li class="dropdown-submenu">
                                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/MovimientosBodega/listarMovimientosMes">Listado de Movimientos</a>
                                                        <ul class="dropdown-menu">
                                                   <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/MovimientosBodega/listarMovimientosMes">Por Mes</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/MovimientosBodega/listarMovimientosPeriodo">Por Periodo</a></li>
                                                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/MovimientosBodega/listarMovimientosCategoria">Por Categoria</a></li>
                                                        </ul>
                                                    </li>
						</ul>
					</li>
							
  
					@if (!Usuario.esUsuario)
                    {
					<li class="dropdown-submenu"><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Control/Indicadores">Indicadores de gesti&oacute;n</a>
						<ul class="dropdown-menu">
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Control/IndicadoresSag">Indicadores de gesti&oacute;n</a></li>
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Control/Estandares">Est&aacute;ndares</a></li>
						</ul>
					</li>
                     }
                    @if (!Usuario.esUsuario)
                    {
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Control/Intervenciones">Intervenciones por Progr.</a></li>
                    }
          
                          <li class="dropdown-submenu">
                                    <a href="javascript:void();">Intervenciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/IntervencionDetalle/Upload">Importar archivo</a></li>
                                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/IntervencionDetalle/AsignarPagos">Informes de Atenciones Mensuales</a></li>
                                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/IntervencionDetalle/ResumenAtenciones">Estado de Pago de Atenciones</a></li>
                                        <!--<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Administracion/CambiarPeriodo">Cambiar Per&iacute;odos</a></li>-->
                                    </ul>
                                </li>
                    	@if (!Usuario.esUsuario)
                        {
                        <li class="dropdown-submenu">
                            <a href="javascript:void();">Cierre de Mes</a>
                             <ul class="dropdown-menu">
                                 <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/SaldoCierre/index">Importar archivo</a></li>
                                 <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/SaldoCierre/InformeSaldo">Consulta Saldo Corporativo</a></li>
                                 <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/SaldoCierre/AsociarCuenta">Asociar Cuenta</a></li> 
                                  <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/SaldoCierre/Parametro">Parametros por Proyectos</a></li>  
                                 <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/SaldoCierre/ReporteCierre">Reporte Cierre</a></li>                                   
                            </ul>
                        </li>
                        }  
				</ul>
 
                
					
			</li>
			<li><a href="javascript:void();">Informes</a>
				<ul class="menu dropdown dropdown-menu">

				    <li class="dropdown-submenu">
                        <a href="javascript:void();">Rendicion de Cuentas</a>
                            <ul class="dropdown-menu">
								<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/Ingresos">Ingresos</a></li>
								<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/Egresos">Egresos</a></li>
								<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/Reintegros">Reintegros</a></li>
                     			<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/Cuentas">Cuentas</a></li>
                     			<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/Fondosrendir">Fondos a Rendir</a></li>
								<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/DeudasPendientes">Deudas pendientes</a></li>
								<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/FondoFijo">Caja chica</a></li>
								<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/Honorarios">Honorarios</a></li>
                     		</ul>
                    </li>	
                    <li class="dropdown-submenu">
                        <a href="javascript:void();">Inventario</a>
                            <ul class="dropdown-menu">
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienReportes">Reportes Inventario</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienReportes/HojaInventario">Hoja de Inventario</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienReportes/inventarioGeneralPrin">Inventario General </a></li>
                            </ul>
                    </li>
                @if (Proyecto.TipoProyecto.Sigla == "AC")
                    {
                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/Aportes">Comparaci&oacute;n Aportes de Subvenci&oacute;n</a></li>
                    }
                     <li class="dropdown-submenu">
                        <a href="javascript:void();">Intervenciones</a>
                            <ul class="dropdown-menu">
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/intervencionDetalle/Reporteporproyecto">Reporte por Programa</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/intervenciondetalle/Reportetipoproyecto">Reporte por Tipo de Programa</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/intervencionDetalle/Reporteporlinea">Reporte por L&iacute;nea de Programa</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/intervencionDetalle/ReporteRegionComuna">Reporte por Regi&oacute;n/Comuna</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/intervencionDetalle/ReporteEntreFechas">Reporte por Fecha</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/intervencionDetalle/Reporteportipointervencion">Reporte por Tipo de Intervenci&oacute;n</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/intervencionDetalle/ReporteAnual">Reporte Consolidado</a></li>
                                <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/IntervencionDetalle/ReportePorEstado">Reporte por Estado de Pago</a></li>
                            </ul>
                    </li>
     
   				    @if (!Usuario.esUsuario)
                    {                   
                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/CuentaConsolidado">Informe de Cuentas</a></li>
                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/FondosrendirConsolidado">Informe de Fondos a Rendir </a></li>
                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/HonorariosFiltros">Informe de Honorarios </a></li>
                 	}   
				</ul>
			</li>
   }
			@if (!Usuario.esUsuario)
   {
			<li><a href="javascript:void();">Supervisores</a>
				<ul class="menu dropdown dropdown-menu">
				<li class="dropdown-submenu"><a href="javascript:void();">Informe de Auditor&iacute;a</a>
						<ul class="dropdown-menu">
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/ProgramaAnualAuditorias/">Programa Anual</a></li>
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Auditorias/PlandeTrabajo">Plan de Trabajo</a></li>
							<!--<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Auditorias/Informe">Informe de Auditoría</a></li>-->
							<li class="dropdown-submenu"><a href="javascript:void();">Conceptos</a>
								<ul class="dropdown-menu">
									<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/AuditoriasObjetivos/Create">Objetivos</a>
									<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/AuditoriasDocumentos/Create">Documentos</a>
									<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/AuditoriasMetodologias/Create">Metodolog&iacute;a</a>

								</ul>
							</li>
							<li class="dropdown-submenu"><a href="javascript:void();">Reportes</a>
								<ul class="dropdown-menu">
									<!--<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Auditorias/ReporteIndividual">Reporte Individual</a>-->
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Auditorias/ReporteGrupal">Reporte Grupal Auditora</a>
                                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Auditorias/ReporteGeneral">Reporte General Auditora</a>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown-submenu"><a href="javascript:void();">Autorizaciones</a>
						<ul class="dropdown-menu">
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Autorizaciones/Pendientes">Autorizaciones pendientes</a></li>
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Autorizaciones/Opciones">Opciones</a></li>
						</ul>
					</li>
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Logs">Registro de Movimientos</a></li>
                    <li class="dropdown-submenu"><a href="javascript:void();">Control de Calidad</a>
						<ul class="dropdown-menu">
							<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/IndicadorCalidad/Create">Supervisiones FCN/SENAME</a></li>
                            <li><a  href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/IndicadorCalidad/Create2">Retencion / Inventario</a></li>
							<li><a  href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/HorasExtras/Create">Horas Extras</a></li>
						</ul>
					</li>

                          
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Administracion/Cierres">Cierre Per&iacute;odos</a></li>
                  
				</ul>
			</li>
   }
			@if (Usuario.esAdministrador)
   {
			<li><a href="javascript:void();">Administraci&oacute;n</a>
				<ul class="dropdown-menu">
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Usuarios/Create">Maestro de usuarios</a></li>                    
					<!--<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Secciones/Create">Secciones</a></li>-->
					<!--<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Permisos">Permisos</a></li>-->
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Administracion/Correlativos">Correlativos</a></li>
                     <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Administracion/Apertura">Apertura de Mes</a></li> 
					<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Administracion/Cierres">Cierre Per&iacute;odos</a></li>
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Banco/ConciliacionMasiva">Conciliaci&oacute;n Masiva</a></li>
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/ProgramaAnualAuditorias/ListadoAuditoria">Listado de Auditorias</a></li>
                     <li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Informes/FondosrendirA">Fondos a Rendir</a></li>
                    <!--<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Administracion/CambiarPeriodo">Cambiar Per&iacute;odos</a></li>-->
				</ul>
			</li>
   }
			@if (!Usuario.esAdministrador)
   {
			<li><a href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/Home">Inicio</a></li>
   }
            <li class="nav navbar-nav navbar-right"><a href="https://intranet2.ciudaddelnino.cl/" target="_blank">Intranet</a></li>
		</ul>
            </div>
	</div>
        </div>
    