@model IEnumerable<SAG2.Models.SistemaAsistencial>
@{
	Layout = "~/Views/Shared/PopUp.cshtml";
    ViewBag.Title = "Sistema asistencial";
}

 <div id="contenido_popup">
        <table cellpadding="5" border="1" align="center">
    <tr>
        <th>
            Linea de acción
        </th>
        <th>
            Nombre
        </th>
        <th>
            Abreviatura
        </th>
        <th>
            Establecimientos
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LineaAtencion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abreviatura)
        </td>
        <td align="center">
            @Html.Raw(item.Establecimientos.Count.ToString())
        </td>
        <td>
            <a href="@Url.Action("Edit", "SistemaAsistencial", new { id = item.ID })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"><img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
        </td>
    </tr>
}
        </table>
    </div>