@model SAG2.Models.Proveedor
@{
    ViewBag.Title = "Modificar";
}
@{
    SAG2.Models.Usuario Usuario = (SAG2.Models.Usuario)Session["Usuario"];
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<style>
/* Conversion a mayusculas */
input[type="text"], textarea
{
    text-transform: uppercase;
}
</style>
<div id="SAGBox">
    <h3>Proveedores</h3>
    <div id="controles">
      
    </div>
    <div id="contenido" class="proveedores">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.Hidden("DireccionID", Model.DireccionID)
    <fieldset>


 <div class="panel panel-default">
  <div class="panel-heading"><h3><b>Datos del Proveedor</b></h3></div>
  <div class="panel-body">
      <div class="form-group form-inline">
     <div class="form-group" style="margin-right:10px">
            @Html.LabelFor(model => model.Rut)
        </div>
        <div class="form-group" style="margin-right:100px">
            @if (Usuario.esAdministrador)
            {
                @Html.TextBox("Rut", null, new { @class="form-control", @style="width: 100px;" })
            }
            else
            {
                @Html.TextBox("Rut", null, new {  @class="form-control", @style="width: 100px;", @readonly = "readonly" })
            }
            -
            @if (Usuario.esAdministrador)
            {
                @Html.TextBox("DVBuscar", null, new { @class="form-control", @maxlength = "1", @style="width: 40px;", @Value=Model.DV })
            }
            else
            {
                @Html.TextBox("DVBuscar", null, new {  @class="form-control", @maxlength = "1", @Value=Model.DV, @style="width: 40px;", @readonly = "readonly" })
            }
            </div>
           <div class="form-group" style="margin-right:10px">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @style="width: 300px;" })
        </div>
      </div>
     <div class="form-group form-inline">
     <div class="form-group" style="margin-right:10px">
        @Html.Label("Dirección")
       </div>
        <div class="form-group">
            @Html.TextBox("N", null, new { @style = "width: 0; border: 0 solid White;",@class = "form-control", @disabled = "disabled" }) 
        </div></div>

    <div class="form-group form-inline">
     <div class="form-group" style="margin-right:10px">
               @Html.Label("Calle")
        </div>
        <div class="form-group" style="margin-right:10px">
            @Html.TextBoxFor(model => model.Direccion.Calle, new { @class = "form-control" }) 
        </div>
        <div class="form-group" style="margin-right:10px">
            @Html.Label("Número")
        </div>
        <div class="form-group" style="margin-right:10px">
            @Html.TextBoxFor(model => model.Direccion.Numero, new { @class = "form-control", @style="width: 90px;" }) 
        </div>
        <div class="form-group" style="margin-right:10px">
            @Html.Label("Departamento")
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Direccion.Depto, new { @class = "form-control" }) 
        </div></div>
      <div class="form-group form-inline">
          <div class="form-group" style="margin-right:10px">
            @Html.Label("Región")
        </div>
        <div class="form-group" style="margin-right:10px">
            @Html.DropDownList("RegionID", null, new { @class ="form-control", @comuna = Model.Direccion.ComunaID.ToString() })
        </div>
        <div class="form-group" style="margin-right:10px">
            @Html.Label("Comuna")
        </div>
        <div class="form-group">
            <select class="form-control" name="ComunaID" id="ComunaID" tabindex="10">
                <option>Seleccione región</option>
            </select>
        </div>
      </div>
         <div class="form-group form-inline">
          <div class="form-group" style="margin-right:10px">
            @Html.LabelFor(model => model.Fono)
        <br />
            @Html.TextBoxFor(model => model.Fono, new { @class = "form-control", @style="width: 100px;" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fax)
        <br />
            @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", @style="width: 100px;" })
        </div>
             <div class="form-group">
            @Html.LabelFor(model => model.CorreoElectronico, "Correo")
        <br />
            @Html.TextBoxFor(model => model.CorreoElectronico, new { @class = "form-control", @style="width: 250px;" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.PaginaWeb, "Página web")
        <br />
             @Html.TextBoxFor(model => model.PaginaWeb, new { @class = "form-control", @style="width: 250px;" })
        </div>
             </div>
        <div class="form-group form-inline">
          <div class="form-group" style="margin-right:10px">
            @Html.LabelFor(model => model.PersonaContacto, "Contacto")
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.PersonaContacto, new { @class = "form-control" })
        </div></div>
  </div>
  <div class="panel-footer">
	<div  style ="width: 500px ; display:inline-block">
         <a class="btn btn-success" href="../Index" onclick="window.open(this.href, 'Buscar','width=750,height=350,scrollbars=yes,menubar=no,toolbars=no'); return false"><span class ="fa fa-search fa-fw"></span>BUSCAR</a>
        <a class="btn btn-default" href="/SAG_5_desarrollo/Proveedores/Create"><span class="fa fa-file-o fa-fw"></span>NUEVO</a>
        <a class="btn btn-danger" href="../Delete/@Html.Raw(Model.ID.ToString())" onclick="return confirm('Realmente desea borrar este registro?');"><span class ="fa fa-trash-o fa-fw"></span>ELIMINAR</a>
       <a class="btn btn-default" href="/SAG_5_desarrollo/Proveedores/Create"><span class="fa fa-undo fa-fw"></span>CANCELAR</a>
            
        </div>
         <div style="float :right;display:inline-block">
	   <input class="btn btn-primary" type="submit" value="Guardar" id="submit" />
	</div>

  </div>
</div>
    
           
      
        
     
           

        

      
        
        <p>
           
        </p>
        </fieldset>
}
    </div>
</div>