@model SAG2.Models.BoletaHonorario
@{
    ViewBag.Title = "Modificar";
    int periodoSel = Model.Periodo;
    int mesSel = Model.Mes;
    var Meses = new string[12]
    {
	    "Enero",
	    "Febrero",
	    "Marzo",
	    "Abril",
	    "Mayo",
	    "Junio",
	    "Julio",
	    "Agosto",
	    "Septiembre",
	    "Octubre",
	    "Noviembre",
	    "Diciembre"
	};
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<style>
/* Conversion a mayusculas */
input[type="text"], textarea
{
    text-transform: uppercase;
}
</style>
   <script type="text/javascript">
       $(document).ready(function () {
           $(".js-autocomplete").select2();
       });
    </script>
<div id="SAGBox">
    <h3>Boletas de honorarios</h3>
    <div id="controles">
       
    </div>
    <div id="contenido" class="cuentacorriente">
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Periodo)
    @Html.HiddenFor(model => model.Mes)
    @Html.HiddenFor(model => model.ProyectoID) 
        <input id="PersonaID" name="PersonaID" type="hidden" value="@ViewBag.PersonalID" />
    <input id="ProveedorID" name="ProveedorID" type="hidden" value="@ViewBag.ProveedorID" />
    <input id="Rut" name="Rut" type="hidden" value="@ViewBag.Rut" />
    <input id="DV" name="DV" type="hidden" value="@ViewBag.DV" />
    <input id="Beneficiario" name="Beneficiario" type="hidden" value="@ViewBag.Beneficiario" />

    
    <fieldset>      
        <input type="hidden" name="RegistroModificar" id="RegistroModificar" value="@ViewBag.RegistroModificar" />
        <div class="panel panel-default">
  <div class="panel-heading"><h3><b>Modificar Boleta de Honorario</b></h3></div>
  <div class="panel-body">
            <div class="form-group form-inline">
         <div class="form-group" style="margin-right: 15px;">
            Período
        </div>
        <div class="form-group" style="margin-right: 15px;">
            <input class="form-control" type="text" value="@Model.Periodo" readonly="readonly" />
        </div>
         <div class="form-group" style="margin-right: 15px;">
            Mes
        </div>
        <div class="form-group">
            <input class="form-control" type="text" value="@Meses[@Model.Mes - 1]" readonly="readonly" />
        </div>
          <div class="form-group" style="margin-right: 15px;">
            N° Comprobante de Egreso
        </div>
        <div class="form-group" style="margin-right: 15px;">
              @if (Model.Egreso != null)
     {
            <input class="form-control" type="text" value="@Model.Egreso.NumeroComprobante" readonly="readonly" />
              }
        </div>
           </div>
 
     @if (ViewBag.RegistroModificar != "Si")
     {
      <div class="alert alert-warning">
           @Html.Raw(ViewBag.RegistroModificar)
      </div>
     }
      <hr />

      <div class="form-group form-inline" >
        <div class="form-group" >
            @Html.Label("Persona")
        </div>
       <div class="form-group">
            <input type="text" value="@ViewBag.NombreLista" style="width: 400px;" class="form-control" readonly = "readonly" />
        </div>
       </div>
      <div class="form-group form-inline" >
        <div class="form-group">
            @Html.LabelFor(model => model.NroBoleta)
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.NroBoleta)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha)
        </div>
          
        <div class="form-group">
            @Html.TextBoxFor(model => model.Fecha, new { @Value = Model.Fecha.ToShortDateString(), @readonly = "readonly", @class = "calendario form-control" })
        </div>
        </div>

         <div class="form-group form-inline" >
              <div class="form-group">
           <label>Porcentaje</label>     <br />
         @Html.TextBoxFor(model => model.Porcentaje, new { @readonly = "readonly", @class = "form-control" })  
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Bruto)
        <br />
            @Html.TextBoxFor(model => model.Bruto, new { @readonly = "readonly", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Retencion)
        <br />
            @Html.TextBoxFor(model => model.Retencion, new { @readonly = "readonly", @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Neto)
        <br />
            @Html.TextBoxFor(model => model.Neto, new { @readonly = "readonly", @class = "form-control" })
        </div></div>
        <div class="form-group">
            @Html.LabelFor(model => model.Concepto)
        </div>
        <div class="form-group">
            @Html.TextAreaFor(model => model.Concepto, new { @class = "form-control" })
        </div>

         <div class="form-group form-inline">
        <div class="form-group">
            @Html.LabelFor(model => model.Electronica)
        <br />
            @if (Model.Electronica == null)
            {
                <input class="form-control" type="checkbox" name="Electronica" id="Electronica" value="1" />
            }
            else
            {
                <input type="checkbox" name="Electronica" id="Electronica" value="1" checked="checked" />
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nula)
       <br />
            @if (Model.Nula == null)
            {
                <input type="checkbox" name="Nula" id="Nula" value="1" />
            }
            else
            {
                <input type="checkbox" name="Nula" id="Nula" value="1" checked="checked" />
            }            
        </div>
    

         </div>
  </div>
  <div class="panel-footer">
	<div  style ="width: 500px ; display:inline-block">
           <a class="btn btn-success" href="@Url.Action("CorregirHonorario", "BoletasHonorarios", new { periodo = periodoSel, mes = mesSel })">BUSCAR</a>
            
            @if (Model.EgresoID == null)
            {
                <a class="btn btn-danger" href="../Delete/@Html.Raw(Model.ID.ToString())" onclick="return confirm('Realmente desea borrar este registro?');">ELIMINAR</a>
            }
             
        </div>
         <div style="float :right;width:150px;display:inline-block">
	    
        <p>
            <input class="btn btn-primary" type="submit" value="Guardar" id="botonGuardar" />
        </p>
        
           
	</div>

  </div>
</div>

      
    </fieldset>
}
    </div>
</div>
<script>

    $(document).ready(function () {
        
        if ($("#RegistroModificar").val() != "Si") {
            $('#botonGuardar').hide();
            alert($("#RegistroModificar").val());
        }
    $("#PORCENTAJE").change(function () {
      
        var valor = $("#PORCENTAJE").val();
        $("#VPorce").val(valor);
        $('#VPorce').val($('#VPorce').val().replace(",", "."));
        var bruto = new Number($('#Bruto').val());
        var porce = new Number($('#VPorce').val());
        var retencion = bruto * porce / 100;
        var neto = bruto - retencion;
        $('#Retencion').val(Math.round(retencion));
        $('#Neto').val(Math.round(neto));
    });



});
</script>