@model IEnumerable<SAG2.Models.BoletaHonorario>
@{
    Layout = "~/Views/Shared/PopUp.cshtml";
    ViewBag.Title = "Boleta de honorarios";
    var monto = 0;
}

 <div id="contenido_popup">
    <table  class ="table table-bordered table-hover">
     <thead class="fixedHeader">
    <tr class="info">
    <th style="width: 33px;" class="controles"></th>
        <th  style="width: 68px;"> Nº Boleta </th>
        <th style="width: 73px;"> Fecha </th>
        <th style="width: 105px;"> Tipo </th>
        <th style="width: 65px;"> Estado </th>
        <th style="width: 190px;"> Beneficiario </th> 
        <th style="width: 63px;"> Bruto $ </th>
        <th style="width: 83px;">Retencion $</th>
        <th style="width: 0px;">Neto $</th>
        <th style="width: 58px;">Egreso</th>
        <th style="width: 180px;">Concepto</th>
    </tr>
</thead>
 <tbody class="scrollContent cuerpobusqueda">  
@foreach (var item in Model)
{
    <tr class="cuerpobusqueda">
    <td style="width: 33px;">
        <a href="@Url.Action("Edit", "BoletasHonorarios", new { id = item.ID })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"><img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
        </td>
        <td  style="width: 68px;">
            @Html.DisplayFor(modelItem => item.NroBoleta)
        </td>
        <td style="width: 73px;">
            @item.Fecha.ToShortDateString()
        </td>
        <td style="width: 105px;">
            @if (item.Electronica != null)
            {
                @Html.Raw("ELECTRÓNICA")
            }
            else
            {
                @Html.Raw("MANUAL")
            }
        </td>
        <td style="width: 65px;">
            @if (item.Nula != null)
            {
                @Html.Raw("NULA")
            }
            else
            {
                @Html.Raw("VIGENTE")
            }
        </td>
        <td style="width: 190px;">
            @if (item.Persona != null)
            {
                @item.Persona.NombreLista.ToUpper();
            }
            else if (item.Proveedor != null)
            {
                @item.Proveedor.NombreLista.ToUpper();
            }
            else
            {
                try
                {
                    @item.Beneficiario.ToUpper();
                }
                catch (Exception)
                { }
            }
        </td>
        <td style="width: 63px;" align="right">
            @item.Bruto.ToString("#,###")
        </td>
        <td style="width: 83px;" align="right">
            @item.Retencion.ToString("#,###")
        </td>
        <td align="right">
            @item.Neto.ToString("#,###")
        </td>
        <td style="width: 58px;">
            @if (item.Egreso != null)
            {
                @Html.DisplayFor(modelItem => item.Egreso.NumeroComprobante)
            }
            else
            {
                @Html.Raw("-")
            }
        </td>
        <td style="width: 180px;">
            @item.Concepto.ToUpper()
        </td>
        
    </tr>
}   
     </tbody>
    </table>
</div>