@model IEnumerable<SAG2.Models.Proyecto>
@{
    Layout = null;
    ViewBag.Title = "Reporte de Honorarios";
    var Meses = new string[12]
    {
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
    };
    SAG2.Classes.Util utils = new SAG2.Classes.Util();
    Response.Clear();
    Response.Buffer = true;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment;filename=Reporte.Honorarios.SAG.2.0-" + DateTime.Now.ToShortDateString() + ".xls");
    int Periodo = @ViewBag.Periodo;
    int Mes = @ViewBag.Mes;
}
<style type="text/css" media="all">
body
{
    font-family: Arial;
}

th
{
    font-weight: bold;
}

td, th
{
    white-space: nowrap;
    font-size: 12px;
} </style>
<div id="SAGBox" style="width: 90%;">
<h2>@ViewBag.Title</h2>

<table cellpadding="5" border="1" style="width: 100%;">
    <tr>
        <th style="width: 50px;">Período</th>
        <th style="width: 75px;">Fecha</th>
        <th style="width: 68px;">Proyecto</th>
        <th style="width: 65px;">Boleta</th>
        <th >Egreso</th>
        <th style="width: 170px;">Nombre</th>
        <th style="width: 360px;text-align:center">Glosa</th>
        <th style="width: 80px;text-align:center" >Rut</th>
        <th style="text-align:left">DV</th>
        <th nowrap>Monto $</th>
        <th nowrap>Retención $</th>
    </tr>
    </table>
<div style="height: 300px; overflow: scroll;">
<table class="table table-striped table-bordered" cellpadding="5" border="1" style="width: 100%;">
    <tr>
        <th style="width: 65px;"></th>
        <th style="width: 75px;"></th>
        <th style="width: 68px;"></th>
        <th nowrap></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th nowrap></th>
        <th nowrap></th>
    </tr>
    @foreach (var item in Model)
    {
        int totalProyecto = 0;
        bool tieneBoletas = false;
        SAG2.Models.SAG2DB db = new SAG2.Models.SAG2DB();
        List<SAG2.Models.BoletaHonorario> boletas = db.BoletaHonorario.Where(d => d.ProyectoID == item.ID).Where(d => d.Periodo == Periodo).Where(d => d.Mes == Mes).Where(d => d.EgresoID != null).OrderBy(d => d.NroBoleta).ToList();
        foreach (var detalle in boletas)
        {
            tieneBoletas = true;
        <tr>
            <td>@detalle.Periodo @detalle.Mes</td>
            <td>@detalle.Fecha.ToShortDateString()</td>
            <td align="right">@item.CodCodeni</td>
            <td align="right">@detalle.NroBoleta</td>
            <td align="center">@detalle.Egreso.NumeroComprobante</td>
            <td>
                @if (detalle.Persona != null)
                {
                    @detalle.Persona.NombreCompleto.ToUpper()
                }
                else if (detalle.Proveedor != null)
                {
                    @detalle.Proveedor.Nombre.ToUpper()
                }
                else
                {
                    @Html.Raw(@detalle.Beneficiario.ToUpper())
                }
            </td>
            <td>
                @if (detalle.Concepto.Length > 30)
                {
                    @detalle.Concepto.Substring(0, 30).ToUpper()
                }
                else
                {
                    @detalle.Concepto.ToUpper()
                }
            </td>
            <td align="right">@if (detalle.Persona != null)
                              {
                    @detalle.Persona.Rut
                              }
                              else if (detalle.Proveedor != null)
                              {
                    @detalle.Proveedor.Rut
                              }
                              else
                              {
                    @Html.Raw(@detalle.Rut)
                              }</td>
            <td align="center">@if (detalle.Persona != null)
                               {
                    @Html.DisplayFor(modelItem => detalle.Persona.DV)
                               }
                               else if (detalle.Proveedor != null)
                               {
                    @Html.DisplayFor(modelItem => detalle.Proveedor.DV)
                               }
                               else
                               {
                    @Html.Raw(@detalle.DV)
                               }</td>
            <td align="right">@detalle.Bruto.ToString("#,###")</td>
            <td align="right">@detalle.Retencion.ToString("#,###")</td>
        </tr>
            totalProyecto = totalProyecto + @detalle.Bruto;
        }
        if (tieneBoletas)
        {
        <tr>
            <td align="right" colspan="9">Total</td>
            <td align="right">@totalProyecto.ToString("#,###")</td>
            <td align="right"></td>
        </tr>
        }
    }
    </table>
    </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>