@model IEnumerable<SAG2.Models.DeudaPendiente>
@{
    Layout = null;
    ViewBag.Title = "Informe Deuda Pendiente";
    var total = 0;
    var cuenta = "";

    var Meses = new string[13]
    {
        "",
	    "Enero",
	    "Febrero",
	    "Marzo",
	    "Abril",
	    "Mayo",
	    "Junio",
	    "Julio",
	    "Agosto",
	    "Septiembre",
	    "Octubre",
	    "Noviembre",
	    "Diciembre"
	};
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css" media="print">
    @@page
    {
    size: landscape;
    margin: 2cm;
    }
    body 
        {
            font-family: Arial;    
        }
    td 
    {
    font-size: 10px;    
    }
    
    th 
    {
    font-size: 12px;    
    }
    h2 {
        text-align: center;
    }
    
    .registros td
    {
        border: 0;    
    }
    th 
    {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
    </style>
<script language="javascript" type="text/javascript">
       <!--
    function printThis() {
        window.print();
        setTimeout('window.close()', 10);
        //self.close();
    }
        //-->
    </script>
</head>
<body onLoad="printThis();">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><strong>Fundación Ciudad del Niño<br />
    @Html.Raw(@ViewBag.Proyecto)</strong></td>
    <td align="right" valign="top">Fecha: <strong>@Html.Raw(DateTime.Now.ToShortDateString())</strong></td>
  </tr>
</table>
<p>&nbsp;</p>
<h2>@ViewBag.Title</h2>
<div align="right">Del @Html.Raw(@ViewBag.Desde) al @Html.Raw(@ViewBag.Hasta)</div>
    <table cellpadding="5" border="0" style="width: 100%;" cellspacing="0" >
        <tr>
            <th style="border-left: 1px solid black;" align="center" width="60px" style="white-space: nowrap;">Nº Comp.</th>
            <th align="left" width="50px">Fecha</th>
            <th align="left">Documento</th>
            <th style="white-space: nowrap;">Nº Doc.</th>
            <th align="left" width="50px">Emisión</th>
            <th align="left" width="50px">Vencimiento</th>
            <th style="white-space: nowrap;">Monto $</th>
            <th align="left">Cuenta</th>
            <th align="left" width="50px">Proveedor</th>
            <th style="border-right: 1px solid black;">Glosa</th>
        </tr>
    @foreach (var item in Model)
    {
        if (cuenta != item.Cuenta.NombreLista)
        {
            if (cuenta != "")
            {
                <tr>
                    <td colspan="3" align="right"><strong>Total Cuenta:</strong></td>
                    <td align="right"><strong>$@total.ToString("#,##0")</strong></td>
                    <td></td>
                </tr>
            }
           <tr class="registros">
                <td colspan="5"><strong>@item.Cuenta.NombreLista</strong></td>
            </tr>
            cuenta = item.Cuenta.NombreLista;
          
        }

        total = total + item.Monto;
       <tr class="registros">
            <td align="center">@item.NumeroComprobante</td>
            <td align="center">@item.Fecha.ToShortDateString()</td>
            <td align="left">@item.Documento.Nombre</td>
           <td align="center">@item.NumeroDocumento.ToString()</td>
           <td align="left">@item.FechaEmision.ToShortDateString()</td> 
           <td align="left">@item.FechaVencimiento.ToShortDateString()</td> 
           
            <td align="left" style="background-color: orange;">
                <strong>
                $@Html.Raw(item.Monto.ToString("#,##0"))
                </strong>
            </td>
           <td align="left">@item.Cuenta.NombreLista</td> 
           <td>
                    @if (item.Persona != null)
                    {
                        @Html.DisplayFor(modelItem => item.Persona.NombreCompleto)
                    }
                    else if (item.Proveedor != null)
                    {
                        @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
                    }
                    else
                    { 
                        @Html.Raw(@item.Beneficiario)
                    }
                </td>
            <td align="left">
                <div style="white-space: nowrap; overflow: hidden;">
                    @Html.Raw(item.Glosa)
                </div>
            </td>
        </tr>
    }
    <tr>
        <td colspan="3" align="right"><strong>Total Cuenta:</strong></td>
        <td align="right"><strong>$@total.ToString("#,##0")</strong></td>
        <td></td>
    </tr>
    </table>
    <table style="width: 100%;">
        <tr>
            <th align="right"><strong>Total Informe $@total.ToString("#,##0")</strong></th>
               <th>&nbsp;&nbsp</th>
        </tr>
    </table>
    <br /><br /><br /><br /><br />
   <table style="width: 100%;">
    <tr>
      
        <td width="33%" align="right" style="font-size: 14px;">_______________________<br />Firma y Timbre Director (a) </td>
    </tr>
</table>
</body>
</html>
