@model SAG2.Models.BienModInventario
@{
    ViewBag.Title = "Detalle Bien" + @Model.ID;
}

<h2>Detalle Bien @Model.ID</h2>

<table style="width: 100%">
    <tr>
        <td>Familia</td>
        <td>@Html.DropDownListFor(model => model.FamiliaID, new SelectList(ViewBag.listadofamilia, "Value", "Text"), new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Sub Familia</td>
        <td>@Html.DropDownListFor(model => model.SubFamiliaID, new SelectList(ViewBag.listadosubfamilia, "Value", "Text"), new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Detalle</td>
        <td> @Html.TextBoxFor(model => model.Detalle, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Monto</td>
        <td>@Html.TextBoxFor(model => model.Monto, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Ubicacion</td>
        <td>@Html.TextBoxFor(model => model.Ubicacion, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Proyecto</td>
        <td>@Html.DropDownListFor(model => model.ProyectoID, new SelectList(ViewBag.listadoproyecto, "Value", "Text"), new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Periodo</td>
        <td>@Html.TextBoxFor(model => model.Periodo, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Mes</td>
        <td>@Html.TextBoxFor(model => model.Mes, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Egreso</td>
        <td>@Html.TextBoxFor(model => model.EgresoID, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Estado</td>
        <td>@Html.DropDownListFor(model => model.EstadoID, new SelectList(ViewBag.listadoestado, "Value", "Text"), new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Condición</td>
        <td>@Html.DropDownListFor(model => model.CondicionID, new SelectList(ViewBag.listacondicion, "Value", "Text"), new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Procedencia</td>
        <td>@Html.DropDownListFor(model => model.OrigenID, new SelectList(ViewBag.listaorigen, "Value", "Text"), new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td colspan="2" class="text-center"><a href="@Url.Action("Index","BienModInventario")" class="btn btn-default">Volver</a></td>
    </tr>
</table>


