@model IEnumerable<SAG2.Models.InventarioBien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Inventario
        </th>
        <th>
            BienInventario
        </th>
        <th>
            DependenciaID_Origen
        </th>
        <th>
            DependenciaID_Destino
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Inventario.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BienInventario.NumeroInventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependenciaID_Origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependenciaID_Destino)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
