@model IEnumerable<SAG2.Models.Convenio>
@{
	Layout = "~/Views/Shared/PopUp.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ResEx
        </th>
        <th>
            FechaInicio
        </th>
        <th>
            FechaTermino
        </th>
        <th>
            NroPlazas
        </th>
        <th>
            Comentarios
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResEx)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaTermino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NroPlazas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
