@model SAG2.Models.BienModInventarioVM
@{
    ViewBag.Title = "Autorización Bienes";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<div id="SAGBox">

    <label>  </label>
    <div id="controles">

    </div>
    <div id="contenido">

        <fieldset>

            <div class="panel panel-default">
                <div class="panel-heading"><h3><b>Aprobación Proyecto</b></h3></div>
                <div class="panel-body">

                    <div class="form-group form-inline">
                        @Html.DropDownListFor(model => model.ProyectoID, new SelectList(ViewBag.listadoproyecto, "Value", "Text"), new { @class = "js-autocomplete form-control", required = "required" })
                    </div>

                    <table id="tabla-bienes" style="width: 100%;" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%; text-align:center;" onclick="sortTable(0)">N° Bien</th>
                                <th style="width: 20%; text-align:center;" onclick="sortTable(1)">Descripción Bien</th>
                                <th style="width: 20%; text-align:center;" onclick="sortTable(2)">Detalle Movimiento</th>
                                <th style="width: 10%; text-align:center;" onclick="sortTable(3)">N° Doc</th>
                                <th style="width: 10%; text-align:center;" onclick="sortTable(4)">Monto</th>
                                <th style="width: 5%; text-align:center;" onclick="sortTable(5)">Cantidad</th>
                                <th style="width: 10%; text-align:center;" onclick="sortTable(6)">Estado</th>
                                <th style="width: 5%; text-align:center;" onclick="sortTable(7)">N° Comprobante</th>
                                <th style="width: 5%; text-align:center;">Archivo</th>
                                <th style="width: 10%; text-align:center;">Acción</th>
                            </tr>
                        </thead>
                        <tbody id="tr-datos">
                                    
                            @foreach(var item in Model.lista)
                            {

                            <tr>
                                <td style="text-align:center;">@item.ID</td>
                                <td>@item.DescripcionBien</td>
                                <td style="text-align:center;">@item.Detalle</td>
                                <td style="text-align:center;">@item.MovimientoID</td>
                                <td style="text-align:center;">@item.SubFamilia</td>
                                <td style="text-align:center;">@item.Cantidad</td>
                                <td style="text-align:center;">@item.CondicionText</td>
                                <td style="text-align:center;">@item.Ubicacion</td>
                                <td style="text-align:center;"><a class="btn btn-info" href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienAutorizacion/Download?ImageName=@item.RutaArchivo">Descargar Archivo</td>
                                <td style="text-align:center;"><a style="width:80px;" class="btn btn-success" href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienAutorizacion/Permitir/@item.ID">Autorizar</a><a style="width:80px;" class="btn btn-danger" href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienAutorizacion/Anular/@item.ID">Rechazar</a></td>
                            </tr>
                            }

                        </tbody>
                    </table>

                    @if (TempData["Message"] != null)
                    {
                        @Html.Raw("<script>alert('" + TempData["Message"] + ".');</script>");
                    }

                </div>
            </div>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#ProyectoID").change(function () {
            $("#tr-datos").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBienes")',
                dataType: 'json',
                data: { id: $("#ProyectoID").val() },
                success: function (bien) {
                    $.each(bien, function (i, bien) {
                        $("#tr-datos").append('<tr><td style="text-align:center;"> ' + bien['ID'] + '</td><td>' +
                            bien['DescripcionBien'] + '</td><td style="text-align:center;">' + bien['Detalle'] + '</td><td style="text-align:center;">'
                            + bien['Familia'] + '</td><td style="text-align:center;">' + bien['SubFamilia'] +
                            '</td><td style="text-align:center;">' + bien['Cantidad'] +
                            '</td><td style="text-align:center;">' + bien['CondicionText'] +
                            '</td><td style="text-align:center;">' + bien['Ubicacion'] +
                            '</td><td style="text-align:center;">' + '<a class="btn btn-info" href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienAutorizacion/Download?ImageName=' + bien['RutaArchivo'] + '">' + 'Descargar</td><td style="text-align:center;"><a style="width:80px;" class="btn btn-success" href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienAutorizacion/Permitir/' + bien['MovimientoID'] + '">Autorizar</a><a style="width:80px;" class="btn btn-danger" href="@System.Configuration.ConfigurationManager.AppSettings["prePath"].ToString()/BienAutorizacion/Anular/' + bien['MovimientoID'] + '">Rechazar</a></td></tr>');
                    });
                },
                error: function (ex) {
                alert('Error Al Cargar Bienes del Proyecto. ' + ex);
                }
                });
                return false;
        })
        });
</script>


<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tabla-bienes");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".js-autocomplete").select2();
    });
</script>