@model IEnumerable<SAG2.Models.MovimientosBodega>
@{
    Layout = "~/Views/Shared/_Layoutinf.cshtml";
    ViewBag.Title = "ListarLineas";
    string arti = "";
    string categoria = "";
    int saldo_inicial = 0;
    var entrada = 0;
    var salida = 0;
    var saldo = 0;
    int mes = ViewBag.Mes;
    int perio = ViewBag.Periodo;
    int idarti = 0;
    int idpro = 0;
    int entmes = 0;
    int salmes = 0;
    // list<SAG2.Models.Bodega> ba = new SAG2.Models.Bodega();
    List<SAG2.Models.Bodega> dp = new List<SAG2.Models.Bodega>();
    SAG2.Models.SAG2DB db = new SAG2.Models.SAG2DB();

    Layout = null;
    ViewBag.Title = "Intervenciones por proyecto";
    SAG2.Classes.Util utils = new SAG2.Classes.Util();
    Response.Clear();
    Response.Buffer = true;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment;filename=ListadoMovimientosBodega" + DateTime.Now.ToShortDateString() + ".xls");
    string FechaSis = DateTime.Now.ToShortDateString();
}

<style type="text/css" media="all">
    body {
        font-family: Arial;
    }

    th {
        font-weight: bold;
    }

    td, th {
        white-space: nowrap;
        font-size: 20px;
    }
</style>
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><strong>Fundaci&oacute;n Ciudad del Ni&ntilde;o<br />
    @Html.Raw(@ViewBag.NombreProyecto)</strong><br />
    <strong>Cod. Sename: @Html.Raw(@ViewBag.CodSename)</strong>
    </td> 
  </tr>
  
</table>
<table class="table table-bordered" cellpadding="5" border="1" style="width: 80%;">
    <thead>
   
            <th colspan="8" style="text-align: center;">Listado de Movimientos Periodo : @ViewBag.Periodo - @ViewBag.Mes</th>
        </tr>
        <tr class="info">
            <th colspan="1" style="text-align: center;">N&#176; Egreso</th>
            <th colspan="1" style="text-align: center;">Fecha</th>
            <th colspan="1" style="text-align: center;" width="150px">Unidad de Medida<br />KILO, LITRO, UNID</th>
            <th colspan="1" style="text-align: center;">Factura</th>
                            <th style="text-align: center;">Ingreso de Artículos</th>
                            <th style="text-align: center;">Egreso de Artículos</th>
            <th colspan="1" style="text-align: center;">Saldo Final</th>
            <th colspan="1" style="text-align: center;">Destino Y Observaciones</th>
        </tr>
    </thead>
    @foreach (var movimiento in Model)
    {
        if (arti != movimiento.Articulo.Nombre)
        {
            if (arti != "")
            {
                // idarti = movimiento.ArticuloID;
                  saldo = (entrada + saldo_inicial) - salida;
                <tr>
                    <td colspan="3">  </td>
                    <td>Totales</td>
                    <td align="center">@entrada </td>
                    <td align="center">@salida </td>
                    <td align="center">@saldo</td>
                    <td colspan="1">  </td>
                </tr>
                saldo_inicial = 0;
                foreach (SAG2.Models.Bodega sbodega in ViewBag.bartic)
                {

                    if (idarti == sbodega.ArticuloID)
                    {
                        saldo_inicial = sbodega.SaldoInicial;
                        entmes = sbodega.Entrada;
                        salmes = sbodega.Salida;
                        saldo = sbodega.Saldo;
                    }
                }

                idpro = movimiento.ProyectoID;

              
                entrada = 0;
                salida = 0;
            }
        }

        if (categoria != movimiento.Articulo.Categoria.nombre)
        {
            categoria = movimiento.Articulo.Categoria.nombre;
            <tr>
                <td colspan="8">Categor&iacute;a : @movimiento.Articulo.Categoria.nombre</td>
            </tr>

        }
        if (arti != movimiento.Articulo.Nombre)
        {
            //   idarti = movimiento.ArticuloID;
            idpro = movimiento.ProyectoID;
            // saldo_inicial = dp.Where(d => d.ProyectoID == idpro).Where(d => d.ArticuloID == idarti).Where(d => d.Mes == mes).Where(d => d.Periodo == perio).Sum(d => d.SaldoInicial);
            arti = movimiento.Articulo.Nombre;
            idarti = movimiento.ArticuloID;
            saldo_inicial = 0;
            foreach (SAG2.Models.Bodega sbodega in ViewBag.bartic)
            {
                if (idarti == sbodega.ArticuloID)
                {
                    saldo_inicial = sbodega.SaldoInicial;

                }
            }
            <tr>
                <td align="rigth" colspan="3"> @movimiento.Articulo.Nombre </td>
                <td colspan="5">Saldo Inicial : @saldo_inicial </td>
            </tr>
        }
        <tr>
            @if (movimiento.Tdoc == 0)
            {
                salida = salida + Int32.Parse(movimiento.Salida.ToString());
                <td nowrap="nowrap" style="text-align: center;">--</td>
                <td nowrap="nowrap" style="text-align: center;">@movimiento.Fecha.ToShortDateString()</td>
                <td nowrap="nowrap" style="text-align: center;">@movimiento.Articulo.UnidadMedida.Descripcion </td>
                <td align="center" nowrap="nowrap">@movimiento.NroDocumento</td>
            }
            @if (movimiento.Tdoc == 1)
            {
                entrada = entrada + Int32.Parse(movimiento.Entrada.ToString());
                <td nowrap="nowrap" style="text-align: center;">@movimiento.DetalleEgreso.Egreso.NumeroComprobante</td>
                <td nowrap="nowrap" style="text-align: center;">@movimiento.DetalleEgreso.FechaEmision.ToShortDateString()</td>
                <td nowrap="nowrap" style="text-align: center;">@movimiento.Articulo.UnidadMedida.Descripcion </td>
                <td align="center" nowrap="nowrap">@movimiento.DetalleEgreso.NDocumento</td>
            }
            @if (movimiento.Tdoc == 2)
            {
                salida = salida + int.Parse(movimiento.Salida.ToString());
                <td align="center" nowrap="nowrap"></td>
                <td nowrap="nowrap" style="text-align: center;">@movimiento.Fecha.ToShortDateString()</td>
                <td nowrap="nowrap" style="text-align: center;">@movimiento.Articulo.UnidadMedida.Descripcion </td>
                <td nowrap="nowrap"></td>
            }
            @if (movimiento.Tdoc == 3)
            {
                entrada = entrada + int.Parse(movimiento.Entrada.ToString());
                <td align="center" nowrap="nowrap"></td>
                <td nowrap="nowrap" style="text-align: center;">@movimiento.Fecha.ToShortDateString()</td>
                <td nowrap="nowrap" style="text-align: center;">@movimiento.Articulo.UnidadMedida.Descripcion </td>
                <td nowrap="nowrap"></td>
            }

            <td align="center" nowrap="nowrap">
                @if (movimiento.Entrada > 0)
                {@movimiento.Entrada}
            </td>
            <td align="center" nowrap="nowrap">
                @if (movimiento.Salida > 0)
                {@movimiento.Salida}
            </td>
            <td></td>
            <td style="text-align: center;">@movimiento.Observaciones</td>
        </tr>
    }
    @if (arti != "")
    {

        // saldo_inicial = dp.Where(d => d.ProyectoID == idpro).Where(d => d.ArticuloID == idarti).Where(d => d.Mes == mes).Where(d => d.Periodo == perio).Sum(d => d.SaldoInicial);
        saldo = (entrada + saldo_inicial) - salida;
        <tr>
            <td colspan="3">  </td>
            <td>Totales</td>
            <td align="center">@entrada </td>
            <td align="center">@salida </td>
            <td align="center">@saldo</td>
            <td colspan="1">  </td>
        </tr>
        entrada = 0;
        salida = 0;
    }



</table>

