@{
    ViewBag.Title = "Movimientos de mercadería e insumos";
    var Meses = new string[12]
    {
	    "Enero",
	    "Febrero",
	    "Marzo",
	    "Abril",
	    "Mayo",
	    "Junio",
	    "Julio",
	    "Agosto",
	    "Septiembre",
	    "Octubre",
	    "Noviembre",
	    "Diciembre"
	};
}
<style>
/* Conversion a mayusculas */
input[type="text"], textarea
{
    text-transform: uppercase;
}
</style>
<div id="SAGBox" class="control_bodega">
            <script type="text/javascript">
                $(document).ready(function() {
                    $(".js-autocomplete").select2();
                });
    </script>
    <h2>Control de bodega</h2>
@using (Html.BeginForm())
{
    @Html.Hidden("MovimientosBodegaID")
               <fieldset>
         <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Movimiento de Egreso de Articulo</h3>
  </div>
  <div class="panel-body">
   <div class="form-group form-inline" style="text-align:right" >
        <div class="form-group">
            <label>Mes</label>
         </div>
         <div class="form-group">
         <select name="Mes" id="Mes" class="form-control">
          @{ if (@ViewBag.mes == 1)
            {
                <option value="12">@Html.Raw(@Meses[11])</option>
                <option value="@Html.Raw((@ViewBag.mes).ToString())"@Html.Raw("selected=\"selected\"")>@Html.Raw(@Meses[@ViewBag.mes - 1])</option>

            }
            else
             {
                 <option value="@Html.Raw((@ViewBag.mes - 1).ToString())">@Html.Raw(@Meses[@ViewBag.mes - 2])</option>
                  <option value="@Html.Raw((@ViewBag.mes).ToString())"@Html.Raw("selected=\"selected\"")>@Html.Raw(@Meses[@ViewBag.mes - 1])</option>
                                
             }  
          }                      
          </select>
          </div>
          <div class="form-group"> 
            <label>Año</label>
           </div>
           <div class="form-group"> 
                <input type="text" name="Periodo" id="Periodo" class="form-control"  readonly="readonly" value ="@ViewBag.Periodo" style="width: 57px" /> 
            
            </div>         
         </div>
      <hr />
    <h3>Articulo</h3>
    <div class="form-inline" style="margin-bottom: 20px;">
        <div class="form-group" style="margin-right: 10px;">
            <label>Categoría</label>
        </div>
        <div class="form-group" style="margin-right: 10px;">
            @Html.DropDownList("CategoriaID", null, new { @class= "form-control" })

        </div>

            <div class="form-group" style="margin-right: 10px;">
                <label>Artículo</label>
            </div>


        <div class="form-group">
            <select name="ArticuloID" id="ArticuloID" tabindex="5" class="form-control js-autocomplete">
                <option>Seleccione Categoría</option>
            </select>
        </div>
    </div>
       <div class="form-inline" style="margin-bottom: 20px;">
           <div class="form-group" style="margin-right: 10px;">
               <label>Cantidad</label>
           </div>
           <div class="form-group">
               <input type="text" name="Salida" id="Salida" class="form-control" />
           </div>
           <div class="form-group">
               <label>Fecha</label>
               <label></label>
               <input name="Fecha" id="Fecha"  value="@ViewBag.Fecha" maxlength="12" class="calendario form-control"/>
           </div>
               </div>
           <div class="form-group form-inline">
               <div class="form-group" style="margin-right: 25px;">
                   <label>Saldo</label>
               </div>
               <div class="form-group"><input type="text" name="Saldo" id="Saldo" class="form-control" /></div>

           </div>
           <label>Destino y Observaciones </label>
           <input class="form-control" type="text" name="Observaciones" id="Observaciones" style="width: 610px;" />
       </div>
      <div class="panel-footer">
    <div  style ="width: 400px ; display:inline-block">
           <a class="btn btn-success" href="./ListarSalidas" onclick="window.open(this.href, 'Buscar','width=750,height=350,scrollbars=yes,menubar=no,toolbars=no'); return false"><span class ="fa fa-search fa-fw"></span>BUSCAR</a>
            <a class="btn btn-default" href="/SAG_5/MovimientosBodega/movimientoSalida"><span class ="fa fa-file-o  fa-fw"></span>NUEVO</a>
        </div>
         <div style="float :right;width:150px;display:inline-block">
         <input class ="btn btn-primary" type="submit" value="Guardar" />
         </div>
   
</div>
                 
                                      
                   </fieldset>
    if (TempData["Message"] != null)
    {
        @Html.Raw("<script>alert('" + TempData["Message"] + ".');</script>");
    }
                <fieldset style="height: 18px;">
                    <img src="@Url.Content("~/Content/Images/Empty.png")" id="LimpiarFormulario" width="20" height="20" style="cursor: pointer;" title="Limpiar formulario" />
                    <img src="@Url.Content("~/Content/Images/Delete.png")" id="BorrarMovimientoBodega" width="20" height="20" style="cursor: pointer;" title="Borrar movimiento" />
                </fieldset>
           

   
}
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#Mes').change(function () {
            var mesactual = @ViewBag.mes  
                    if(mesactual == 1) {
                        if ($('#Mes').val() == 12) {
                            var anio = $('#Periodo').val();
                            var valor = anio - 1;
                            $('#Periodo').val(valor);
                        } else {
                            var anio = $('#Periodo').val();
                            var valor = @ViewBag.Periodo
                    $('#Periodo').val(valor);
                }
            }
                });
        $("#CategoriaID").change(function () {
            $.get('/SAG_5/Articulos/Articulos/' + $(this).val(), function (response) {
                var articulos = $.parseJSON(response);
                var ddlArticulos = $('#ArticuloID');
                $('#ArticuloID > option').remove();
                if (articulos.length == 0) {
                    ddlArticulos.append($("<option />").val("1").text("Sin información"));
                } else {
                    ddlArticulos.append($("<option />").val("1").text("Seleccione Articulos"));
                    for (i = 0; i < articulos.length; i++) {
                        ddlArticulos.append($("<option />").val(articulos[i].Value).text(articulos[i].Text));
                    }
                }
            });
        });
     


        $("#ArticuloID").change(function () {
            var periodo = $("#Periodo").val();
            var mes = $("#Mes").val();
            $.get('/SAG_5/Bodega/darsaldo/?articuloID=' + $(this).val() +"&periodo="+ periodo + "&mes=" + mes , function (response) {
            var saldo = $.parseJSON(response);
            if (saldo.length == 0) {
                alert("El producto no tiene Saldo");
                $("#Saldo").val("0");
            }
            else {

                $("#Saldo").val(saldo[0].saldos);
            }
           
        });
       
        });
        $("#Mes").change(function () {
            var periodo = $("#Periodo").val();
            var mes = $("#Mes").val();
            var articulo = $("#ArticuloID").val();
          
            if (articulo != 1) {
                $.get('/SAG_5/Bodega/darsaldo/?articuloID=' + articulo + "&periodo=" + periodo + "&mes=" + mes, function (response) {
                    var saldo = $.parseJSON(response);
                    if (saldo.length == 0) {
                        alert("El producto no tiene Saldo");
                        $("#Saldo").val("0");
                    }
                    else {

                        $("#Saldo").val(saldo[0].saldos);
                    }

                });
            }

        });
    });

</script>