@model IEnumerable<SAG2.Models.DetalleEgreso>
@{
    ViewBag.Title = "ListarLineas";
    Layout = null;
    SAG2.Models.SAG2DB db = new SAG2.Models.SAG2DB();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js?" + @DateTime.Now.Ticks)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js?" + @DateTime.Now.Ticks)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js?" + @DateTime.Now.Ticks)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-es.js?" + @DateTime.Now.Ticks)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.Rut.js?" + @DateTime.Now.Ticks)" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css?" + @DateTime.Now.Ticks)" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui-1.8.18.custom.css?" + @DateTime.Now.Ticks)" type="text/css" media="screen, projection"/>
	<!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Ccss/ie.css?" + @DateTime.Now.Ticks)" media="screen" />
    <![endif]-->
	<link href="@Url.Content("~/Content/Site.css?" + @DateTime.Now.Ticks)" rel="stylesheet" type="text/css" />
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery.dropdownPlain.js?" + @DateTime.Now.Ticks)"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/funciones.js?" + @DateTime.Now.Ticks)"></script>
    <link href="@Url.Content("~/Content/Site.css?" + @DateTime.Now.Ticks)" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Iframe.css?" + @DateTime.Now.Ticks)" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.css")" rel="stylesheet">
      <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" >
        <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
    <link href="@Url.Content("~/Content/dist/css/bootstrap-submenu.min.css")" rel="stylesheet" >
    
     <script src="@Url.Content("~/Content/dist/js/bootstrap-submenu.min.js")" defer></script>
</head>
<body>
@if (Model.Count() > 0)
{
    var i = 1;
    <table class="table table-bordered">
        <tr class="info">
            <th nowrap="nowrap">#</th>
            <th nowrap="nowrap">Nº Comp. D/P</th>
            <th nowrap="nowrap">Documento</th>
            <th nowrap="nowrap">Nº Doc.</th>
            <th nowrap="nowrap">Monto $</th>
            <th nowrap="nowrap">Emisión</th>
            <th nowrap="nowrap">Vencimiento</th>
            <th nowrap="nowrap">Cuenta</th>
            <th nowrap="nowrap">Glosa</th>
        </tr>
        @foreach (var detalle in Model)
        { 
        <tr class="LineaDetalleEgreso" DetalleEgresoIndex="@i" DetalleEgresoID="@detalle.ID" NComprobanteDP="@detalle.NComprobanteDP" DocumentoID="@detalle.DocumentoID" BoletaHonorarioID="@detalle.BoletaHonorarioID" DeudaPendienteID="@detalle.DeudaPendienteID" Monto="@detalle.Monto.ToString()" NumeroDocumento="@detalle.NDocumento.ToString()" FechaEmision="@detalle.FechaEmision.ToShortDateString()"
        FechaVencimiento="@detalle.FechaVencimiento.ToShortDateString()" CuentaID="@detalle.CuentaID" Glosa="@detalle.Glosa" FondoFijoID="@detalle.FondoFijoID" style="cursor: pointer;">
            <td align="center">@i.ToString()</td>
            <td align="center" nowrap="nowrap">@detalle.NComprobanteDP</td>
            <td nowrap="nowrap">@if (@detalle.DocumentoID != null) { @Html.Raw(db.Documento.Find(detalle.DocumentoID).NombreLista) }</td>
            <td align="center" nowrap="nowrap">@detalle.NDocumento</td>
            <td align="right" nowrap="nowrap">$@detalle.Monto.ToString("#,##0")</td>
            <td align="center" nowrap="nowrap">@detalle.FechaEmision.ToShortDateString()</td>
            <td align="center" nowrap="nowrap">@detalle.FechaVencimiento.ToShortDateString()</td>
            <td nowrap="nowrap">@if (@detalle.CuentaID != null) { @Html.Raw(db.Cuenta.Find(@detalle.CuentaID).NombreLista) }</td>
            <td nowrap="nowrap">@detalle.Glosa</td>
        </tr>        
            i++;
        }
    </table>
}
</body>
</html>