@model IEnumerable<SAG2.Models.HallazgoCierre>

@{
    ViewBag.Title = "ConsolidadoMensual";
    SAG2.Models.Usuario Usuario = (SAG2.Models.Usuario)Session["Usuario"];
    var Meses = new string[12]
    {
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
    };
}

<h2>Consolidado Cierre de Mes</h2>

<div class="table-responsive">
@using (Html.BeginForm())
{
<table  class="table table-bordered">
    <tr>
        <td>
              <div class="form-inline form-group">
                    <div class="form-group" style="margin-right: 10px;margin-left:8px">
                    <label>Desde</label>
                </div>
                <div class ="form-group">
                    <input name="Desde" id="Desde" class="calendario form-control" value="@Html.Raw(@ViewBag.Desde)" maxlength="10" />
                </div>
                <div class="form-group" style="margin-right: 10px;margin-left:8px">
                    <label>Hasta</label>
                </div>
                <div class ="form-group">
                    <input name="Hasta" id="Hasta" class="calendario form-control" value="@Html.Raw(@ViewBag.Hasta)" maxlength="10" style="margin-right: 20px;" />
                </div>
        </div>
        </td>
    </tr>
    <tr>
        <td>
                              <div class="form-group" style="margin-right: 10px;">
                                <input class="btn btn-primary" type="submit" value="Ver resultados" style="height:100%" />
                                    <input type="button" id="ExcelCC" value="Excel" class="btn btn-success " />
                            </div>
        </td>

    </tr>
</table>
}
</div>


<hr />

<table class="table-condensed table-bordered">
    <tr class="info">
        <th>
           Periodo
        </th>
        <th>
           Nombre Programa
        </th>
        <th>
            Cuenta
        </th>
        <th>
            Clasificación
        </th>
        <th>
            Observacion
        </th>
        <th>
          Estado
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Meses[(item.Mes - 1)] - @item.Periodo
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.proyecto.NombreLista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conceptoCalsificacion.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conceptoCalsificacion.clasificacion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
             <label class="@item.etapa.Clase">@item.etapa.Descripcion</label>
        </td>
 
        <td>
            		  @if (Usuario.esAdministrador)
                             {
             @Html.ActionLink("Ingresar", "HallazgoAvance", new { ID = item.ID }, new { @class = "btn btn-success" })
}
        </td>
    </tr>
}

</table>
  <script>
      $(document).ready(function () {
          $("#ExcelCC").click(function () {

              var mensaje = "";
              var Desde = $('#Desde').val();
              var Hasta = $('#Hasta').val();
    
              var url = '@Url.Action("ConsolidadoMensualExcel", "HallazgoCierre", new {  Desde = "periodo_cambiar", Hasta = "mes_cambiar"})';

                url = url.replace("&amp;", "&");
                url = url.replace("periodo_cambiar", Desde);
                url = url.replace("&amp;", "&");
                url = url.replace("mes_cambiar", Hasta);

                window.open(url);
    

        });
      });
  </script>
     
