@model IEnumerable<SAG2.Models.Objetivo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Descripcion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ObjetivoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ObjetivoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ObjetivoID })
        </td>
    </tr>
}

</table>
