@model IEnumerable<SAG2.Models.movcuenta>
@{
    ViewBag.Title = "Cuentas";
    string color = "blue";
}
    <script type="text/javascript">
        $(document).ready(function() {
          $(".js-autocomplete").select2();
        });
    </script>
<div id="SAGBox">
    <h2>Informe de Cuenta</h2>

     <div class="panel panel-default">
    <div class="panel-body">
   @using (Html.BeginForm())
   {

          <div class="form-inline form-group">
        <div class="form-group" style="margin-right: 10px;margin-left:8px">
           <label>Programa</label>
        </div>
                 @Html.DropDownList("ProyectoID", null, htmlAttributes: new { @class = "form-control js-autocomplete" })
      </div> 
     <div class="row">
      <div class="col-md-4">
           <div class="form-inline">
                 <div class="form-group" style="margin-right: 10px;margin-left:8px">
          <label>Cuenta</label><br />
             <select id="CuentaID" name="CuentaID" class ="js-autocomplete form-control" style="width: 302px;">
      <option></option>
                @Html.Raw(ViewBag.Arbol)
            </select>
                     </div></div>
      </div>
         <div class="col-sm-6">
             <div class="form-inline">
                 <div class="form-group" style="margin-right: 10px;margin-left:8px">
                     <label>Desde</label><br />

                     <input name="Desde" id="Desde" class="calendario form-control" value="@Html.Raw(@ViewBag.Desde)" maxlength="10" style="width: 100px;" />
                 </div>
                 <div class="form-group" style="margin-right: 10px;margin-left:8px">
                     <label>Hasta</label><br />

                     <input name="Hasta" id="Hasta" class="calendario form-control" value="@Html.Raw(@ViewBag.Hasta)" maxlength="10" style="margin-right: 20px;width: 100px;" />
                 </div>
                 <div class="form-group">
                     <br />
                     <input type="button" id="Procesar" value="Ver resultados!" class="btn btn-primary" />
                     @Html.ActionLink("Excel", "CuentasExcel", new { Hasta = DateTime.Parse(@ViewBag.Hasta), Desde = DateTime.Parse(@ViewBag.Desde), Cuenta = @ViewBag.Cuenta, ProyectoID = @ViewBag.PrID }, new { @class = "btn btn-success" })
                 </div>
                 <div class="form-group">
                 

                 </div>

             </div>
      </div>
         
     </div>
   }
  </div>

</div>

    @if (ViewBag.Entrada == 1)
    {
    
        <table class ="table table-striped table-bordered">
        <tr>
            <th>CC</th>
        <th>Tipo Movimiento</th>
        <th>N° Comprobante</th>
        <th>Fecha</th>
       <th>Cuenta </th>
        <th>N° Cheque</th>
        <th >Monto</th>
        <th >Cta Cte </th>
        <th> Glosa</th>

            
        </tr>
    @foreach (var item in Model)
    {
        int monto = item.Monto;color= "blue";
        if (item.Estado == 1)
        {
        <tr>
            <td>@ViewBag.PrCod</td>
            <td align="center">
            @{ 
                if (item.TipoComprobanteID == 1)
                {
                        <a href="@Url.Action("Edit", "Ingresos", new { id = item.IDComprobante })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();">Ingreso  <img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /> </a>
                }
                if (item.TipoComprobanteID == 2)
                { 
                         <a href="@Url.Action("Edit", "Egresos", new { id = item.IDComprobante })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();">Egreso <img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
                }
                if (item.TipoComprobanteID == 3)
                {
                    monto = monto * -1; color = "RED";
                    <a href="@Url.Action("Edit2", "Reintegros", new { id = item.IDComprobante })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"> Reintegros <img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
                }
                if (item.TipoComprobanteID == 4)
                { 
                    <a href="@Url.Action("Edit2", "Reintegros", new { id = item.IDComprobante })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"> Gasto Reintegros <img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
                } 
             }
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.NumeroComprobante)
            </td>
            <td>
                @item.Fecha.Value.ToShortDateString()
            </td>
            <td>@item.NombreCuenta</td>
            <td>@item.Cheque</td>
            <td align="right">
                  <span style="color:@Html.Raw(color)"> @monto.ToString("###,##")</span>
            </td>
            <td>@item.CtaCte</td>
            <td>@item.Glosa</td>
        </tr>
        }
        else
        {
        
         <tr style="text-decoration: line-through;">
            <td>@ViewBag.PrCod</td>
            <td align="center">
                @{ 
            if (item.TipoComprobanteID == 1)
            {
                        <a href="@Url.Action("Edit", "Ingresos", new { id = item.IDComprobante })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();">Ingreso  <img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /> </a>
            }
            if (item.TipoComprobanteID == 2)
            { 
                         <a href="@Url.Action("Edit", "Egresos", new { id = item.IDComprobante })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();">Egreso <img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
            }
            if (item.TipoComprobanteID == 3)
            {
                monto = monto * -1; color = "RED";
                    <a href="@Url.Action("Edit2", "Reintegros", new { id = item.IDComprobante })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"> Reintegros <img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
            }
            if (item.TipoComprobanteID == 4)
            { 
                    <a href="@Url.Action("Edit2", "Reintegros", new { id = item.IDComprobante })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"> Gasto Reintegros <img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
            } 
                 }
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.NumeroComprobante)
            </td>
            <td>
                @item.Fecha.Value.ToShortDateString()
            </td>
            <td>@item.NombreCuenta</td>
            <td>@item.Cheque</td>
            <td align="right">
                <span style="color:@Html.Raw(color)"> @monto.ToString("###,##")</span>
            </td>
            <td>@item.CtaCte</td>
            <td>@item.Glosa</td>
        </tr>
        
        }
    }
    </table>
    
    } 


</div>
<script>
    $(document).ready(function () {
        $("#Procesar").click(function () {
            var mensaje = "";
            var cuentaID = $('#CuentaID').val();
            var desde = $('#Desde').val();
            var Hasta = $('#Hasta').val();
            if (cuentaID == "") {
                mensaje =  "Falta Seleccionar Cuenta";               
            }
            if (desde == "") {
                mensaje = mensaje + "</br>" +  "Falta fecha desde";
            }
            if (Hasta == "") {
                mensaje = mensaje + "</br>" +  "Falta Fecha Hasta";
            }
            if (mensaje == "") {
                $("form").submit();
            }
            else {

                Swal.fire(mensaje)
            }

        });
    });
</script> 