@model IEnumerable<SAG2.Models.movcuentatr>
@{
    ViewBag.Title = "Cuentas";

    Layout = null;
    ViewBag.Title = "Intervenciones por Rango de fechas";
    SAG2.Classes.Util utils = new SAG2.Classes.Util();
    Response.Clear();
    Response.Buffer = true;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment;filename=Cuentas-" + DateTime.Now.ToShortDateString() + ".xls");
    string FechaSis = DateTime.Now.ToShortDateString();
}

<div id="SAGBox">
    <h2>Informe de Cuenta: @Model.Select(x => x.NombreCuenta).First()</h2>
    <p>@ViewBag.Proyectonombre </p>
     <div class="panel panel-default">
    <div class="panel-body">
   @using (Html.BeginForm())
   {
      <h3>Periodo @ViewBag.Desde - @ViewBag.Hasta</h3> 
   }
  </div>

</div>

    @if (ViewBag.Entrada == 1)
    {
       <table class ="table table-striped table-bordered" cellpadding="5" border="1" style="width: 80%;">
        <tr>

         <th>Tipo</th>
         <th>Region</th>
         <th>CC</th>
         <th>Programa</th>
        <th>Tipo Movimiento</th>
        <th>N&#176;</th>
        <th>Fecha</th>
       <th>Cuenta </th>
        <th>N&#176; Cheque</th>
        <th >Monto</th>
        <th >Cta Cte </th>
        <th> Glosa</th>
 
        </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Tipo  </td>
            <td>@item.Region   </td>
            <td>@item.codCodeni </td>
            <td>@item.ProyectoNombre </td>
            <td align="center">
                @{
                    if (item.TipoComprobanteID == 1)
                    {
                        <a>Ingreso</a>
                    }
                    if (item.TipoComprobanteID == 2)
                    {
                        <a>Egreso</a>
                    }
                    if (item.TipoComprobanteID == 3)
                    {
                        <a>ReIntegro</a>
                    }
                    if (item.TipoComprobanteID == 4)
                    {
                        <a>Gasto ReIntegro </a>
                    }

                }
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroComprobante)
                </td>
                <td>
                    @item.Fecha.Value.ToShortDateString()
                </td>
                <td>@item.NombreCuenta</td>
                <td>@item.Cheque</td>
                <td align="right">
                    @if (item.Estado == 0) {
                        @Html.Raw("0").ToString();
                    }else{
                        @item.Monto.ToString("###,##")
                    }
                </td>
                <td>@item.CtaCte</td>
                <td>@item.Glosa</td>
            </tr>
    }
    </table>
    
    } 


</div>