@model IEnumerable<SAG2.Models.Movimiento>
@{
    Layout = null;
    ViewBag.Title = "Informe de Ingresos";
    Response.Clear();
    Response.Buffer = true;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment;filename=Inf.Ingresos.SAG.2.0-" + DateTime.Now.ToShortDateString() + ".xls");
    var total = 0;

    }
<style type="text/css" media="all">
body 
{
    font-family: Arial;    
}

th
{
    font-weight: bold;    
}

td, th
{
    white-space: nowrap;
    font-size: 12px;
}
</style>
<table>
    <tr>
        <td>Fundaci&oacute;n Ciudad del Ni&ntilde;o</td>
    </tr>
    <tr>
        <td>@ViewBag.Proyecto </td>
    </tr>
    <tr>
        <td>Cod. Sename/Servicio Mejor Ni&ntilde;ez: @ViewBag.CodSename </td>
    </tr>

    
</table>
<h2>@ViewBag.Title</h2>
Entre Fechas Desde :  @ViewBag.Desde Hasta :@ViewBag.Hasta 
            
<table cellpadding="5" border="1" style="width: 100%;">
        <tr>
            <th>@System.Web.HttpUtility.UrlDecode("N° Comp.")</th>
            <th>Fecha</th>
            <th>Cuenta</th>
            <th>@System.Web.HttpUtility.UrlDecode("N° Cheque")</th>
            <th>Monto $</th>
            <th>Cta. Cte.</th>
            <th>Glosa</th>
        </tr>
    @foreach (var item in Model)
    {
        var style = "";
        if (item.Nulo != null && item.Nulo.Equals("S"))
        {
            style = " style=\"text-decoration: line-through;\"";
        }
        else
        {
            total = total + item.Monto_Ingresos;
        }
    
        <tr @Html.Raw(style)>
            <td align="right">
                @Html.DisplayFor(modelItem => item.NumeroComprobante)
            </td>
            <td>
                @item.Fecha.Value.ToShortDateString()
            </td>
            <td>
                @System.Web.HttpUtility.UrlDecode(item.Cuenta.NombreLista)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Cheque)
            </td>
            <td align="right">
                <strong>
                $@item.Monto_Ingresos.ToString("#,##0")
                </strong>
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.CuentaCorriente.Numero)
            </td>
            <td>
                @System.Web.HttpUtility.UrlDecode(item.Descripcion)
            </td>
        </tr>
    }
    <tr>

    </tr>
    <tr>
        <td></td><td></td><td></td><td>Total </td><td>$@total.ToString("#,##0")</td>
    </tr>
    </table>
