@model IEnumerable<SAG2.Models.BoletaHonorario>
@{
    ViewBag.Title = "Honorarios";
    SAG2.Models.Usuario Usuario = (SAG2.Models.Usuario)Session["Usuario"];
    var totalBruto = 0;
    var totalRetencion = 0;
    var totalLiquido = 0;
    var Meses = new string[12]
    {
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
    };
}
<div id="SAGBox">
    <h2>Informe de Honorarios</h2>
@using (Html.BeginForm())
{
    if (@ViewBag.Rendicion == null || !@ViewBag.Rendicion.Equals("Rendicion"))
    {
 
      <fieldset>

    <div class="panel panel-default">
    <div class="panel-body">
      <h3>Periodo</h3> 
      <div class="form-inline form-group">
          <div class="form-group" style="margin-right: 10px;margin-left:8px">
              <label>Mes</label>
          </div>
          <div class="form-group">
              <select name="Mes" id="Mes" class="form-control">
                  @for (var i = 0; i < 12; i++)
                  {
                      <option value="@Html.Raw((@i + 1).ToString())" @if (@ViewBag.Mes == (i + 1)) { @Html.Raw("selected=\"selected\"") }>
                          @Html.Raw(@Meses[@i])
                  </option>
              }
              </select>
          </div>
          <div class="form-group" style="margin-right: 10px;margin-left:8px">
              <label>Año</label>
          </div>
          <div class="form-group" style="margin-right: 50px">
              <select name="Periodo" id="Periodo" class="form-control">
                  @for (var i = DateTime.Now.Year - 10; i <= DateTime.Now.Year + 1; i++)
                  {
                      <option value="@Html.Raw((@i).ToString())" @if (@ViewBag.Periodo == i) { @Html.Raw("selected=\"selected\"") }>
                          @Html.Raw((@i).ToString())
                  </option>
              }
              </select>
          </div>
          <div class="form-group">
              <input type="submit" value="Ver resultados!" class="btn btn-primary" />
          </div>
         

                  <div class="form-group" style="margin-right: 10px;">
                      <a data-toggle="tooltip" data-placement="top" title="Exportar a Excel" tipo="Honorarios" class="excelBotonPeriodo btn btn-success" style="height: 100%;">
                          <span class="fa fa-file-excel-o  fa-2x"></span>
                      </a>
                  </div>



          <div class="form-group" style="margin-right: 10px;">
              <a class="btn btn-default imprimirInformeMes" data-toggle="tooltip" data-placement="top" title="Imprimir" href="../Imprimir/InformeHonorarios?Mes=@Html.Raw(@ViewBag.Mes.ToString())&Periodo=@Html.Raw(@ViewBag.Periodo.ToString())">
                  <span class="fa fa-print fa-2x"></span>
              </a>
          </div>
      </div>
  </div>

</div>
               
                </fieldset>
        
    }
}

    <div style="height: 300px; overflow: scroll;">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Fecha</th>
                <th>Nº Boleta</th>
                <th>Nº Egreso</th>

                <th>Rut</th>
                <th>DV</th>
                <th>Beneficiario</th>
            
                <th>Bruto $</th>
                <th>Retención $</th>
                <th>Líquido $</th>

                <th>Estado</th>
                <th>Glosa</th>
            </tr>
        @foreach (var item in Model)
        {
            totalBruto = totalBruto + item.Bruto;
            totalRetencion = totalRetencion + item.Retencion;
            totalLiquido = totalLiquido + item.Neto;
            
            <tr>
                <td align="center">
                    @item.Fecha.ToShortDateString()
                </td>
                <td>
                    @item.NroBoleta.ToString()
                </td>
                <td>
                    @if (item.EgresoID != null)
                    {
                        @Html.Raw(@item.Egreso.NumeroComprobante.ToString());
                    }
                </td>
                    @if (item.Persona != null)
                    {
                        <td>@Html.DisplayFor(modelItem => item.Persona.Rut)</td>
                        <td>@Html.DisplayFor(modelItem => item.Persona.DV)</td>
                        <td>@Html.DisplayFor(modelItem => item.Persona.NombreCompleto)</td>

                    }
                    else if (item.Proveedor != null)
                    {
                        <td>@Html.DisplayFor(modelItem => item.Proveedor.Rut)</td>
                        <td>@Html.DisplayFor(modelItem => item.Proveedor.DV)</td>
                        <td>@Html.DisplayFor(modelItem => item.Proveedor.Nombre)</td>
                    }
                    else
                    { 
                        <td>@item.Rut</td>
                        <td>@item.DV</td>
                        <td>@item.Beneficiario</td>
                    }
                <td align="right">
                    <strong>
                    $@item.Bruto.ToString("#,##0")
                    </strong>
                </td>
                <td align="right">
                    <strong>
                    $@item.Retencion.ToString("#,##0")
                    </strong>
                </td>
                <td align="right">
                    <strong>
                    $@item.Neto.ToString("#,##0") 
                    </strong>
                </td>
                <td>
                @if (item.Nula == null)
                {<span class="label label-success">Vigente</span>
                }
                else
                {<span class="label label-danger">Nula</span>
                }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concepto)
                </td>
            </tr>
        }
        </table>
    </div>
    <div class="form-group form-inline" style="margin-top: 10px;">
         @using (Html.BeginForm())
        {
         
         
              <div class="form-group" style="margin-right: 10px;">
                  <label>Total Bruto $ </label>
                  </div>
              <div class="form-group" style="margin-right: 10px;">
                  <input class="form-control" value="$@totalBruto.ToString("#,###")" readonly="readonly" style="text-align: right; width: 130px;" />
              </div>
             <div class="form-group" style="margin-right: 10px;">
                  <label>Total Ret. $</label>
                  </div>
            <div class="form-group" style="margin-right: 10px;">
                <input class="form-control" value="$@totalRetencion.ToString("#,###")" readonly="readonly" style="text-align: right; width: 130px;" />
                </div>
             <div class="form-group" style="margin-right: 10px;">
                  <label>Saldo Líq. $ </label>
                  </div>
             <div class="form-group">
            <input class="form-control" value="$@totalLiquido.ToString("#,###")" readonly="readonly" style="text-align: right; width: 130px;" />
                 </div>
         }
    </div>
        
</div>