@model SAG2.Models.Informe
@{
    ViewBag.Title = "ReportePrograma";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SAG2.Models.SAG2DB db = new SAG2.Models.SAG2DB();
    Layout = null;
    ViewBag.Title = "Reporte por linea";
    SAG2.Classes.Util utils = new SAG2.Classes.Util();
    Response.Clear();
    Response.Buffer = true;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment;filename=ReporteSínstesisPrograma-" + DateTime.Now.ToShortDateString() + ".xls");
    string FechaSis = DateTime.Now.ToShortDateString();

}

<style media="print">
    @@page {
        size: landscape;
        margin: 1cm !important;
    }

    body {
        font-family: "Times New Roman" !important;
        margin: 0 !important;
        display: block !important;
        overflow: visible !important;
    }

    td {
        font-size: 10px !important;
    }

    th {
        font-size: 12px !important;
    }

    h2 {
        font-size: 16px !important;
        text-align: center;
    }

    .pie {
        display: none;
    }

    .permisos, .body, .contenedor {
        padding: 0 !important;
        border: 0 !important;
        display: block !important;
    }

    .permisos {
        width: 90% !important;
    }

    .ocultoImpresion, .menu, .top {
        display: none;
    }

    .soloImpresion {
        display: block;
    }

    .DatosPresupuesto {
        overflow: visible !important;
        display: block !important;
    }

    th {
        font-size: 11px !important;
    }
</style>
<style media="screen">
    th {
        font-size: 11px !important;
    }
         .xlCelda {       
            font-family: "Arial Narrow", sans-serif !important        
            text-align: right !important;
            vertical-align: middle !important;
            border: .5pt solid black !important;
            width:200px !important;
        }
</style>


@if (ViewBag.ID != null)
{
    try
    {
        int mesSeleccion = ViewBag.Mes;



        var Meses = ViewBag.GrupoMeses;

        var NombreMeses = new string[12]
        {
            "Ene.",
            "Feb.",
            "Mar.",
            "Abr.",
            "May.",
            "Jun.",
            "Jul.",
            "Ago.",
            "Sep.",
            "Oct.",
            "Nov.",
            "Dic."
        };


        List<SAG2.Models.DetalleInformes> listaCuentas = ViewBag.listaCuentas;
        int id = ViewBag.ID;
        int periodo = ViewBag.Periodo;

            
   
       var presupuesto = db.Presupuesto.Where(m => m.ProyectoID == id && m.Activo != null && m.Activo.Equals("S") && m.Periodo == periodo).OrderByDescending(p => p.ID).Take(1).Single();
       ViewBag.SaldoInicial = presupuesto.SaldoInicial;
       var presupuestoDetalle = db.DetallePresupuesto.Where(p => p.Presupuesto.Proyecto.ID == id && p.Presupuesto.Proyecto.Cerrado == null && p.Presupuesto.Proyecto.Eliminado == null && p.Periodo == periodo).ToList();
        //  int mes = 1;
        var ingresos = db.Movimiento.Where(m => m.Proyecto.ID == id && m.Proyecto.Eliminado == null && m.Proyecto.Cerrado == null && m.Periodo == periodo && m.Temporal == null).ToList();
        var egresos = db.DetalleEgreso.Where(e => e.Egreso.Proyecto.ID == id && e.Egreso.Proyecto.Eliminado == null && e.Egreso.Proyecto.Cerrado == null && e.Egreso.Periodo == periodo && e.Egreso.Temporal == null).ToList();
        // Se cambio consulta de reintegro y se agrego reintegro gastos  !!!!
        var reintegros = db.Movimiento.Where(m => m.ProyectoID == id).Where(m => m.TipoComprobanteID == 3).Where(m => m.CuentaID != null && m.CuentaID != 1 && m.Nulo == null && m.Eliminado == null && m.Temporal == null && m.Periodo == periodo).OrderBy(m => m.Cuenta.Orden).ToList();
        var reintegrosGastos = db.DetalleReintegro.Where(m => m.Reintegro.ProyectoID == id).Where(m => m.CuentaIDD != null && m.Reintegro.Periodo == periodo).OrderBy(m => m.CuentaIDD).ToList();

        var totalEgreso = new double[13];
        var totalPresupuestoE = new double[13];
        var totalIngresosEgreso = new double[13];
        var totalesIngresos = new double[13];
        var totalesEgresos = new double[13];
        var totalPresupuesto = new double[13];
        var totalesPresupuestosIngresos = new double[13];
        var totalesPresupuestosEgresos = new double[13];
        var pruebacuentas = db.Cuenta.ToList();
        double[] presupuestoInicial = new double[13];
        double[] saldoInicial = new double[13];

        @*<ul>*@
        //foreach (var listado in listaCuentas.Where(a => a.estado == 0).OrderBy(c => c.cuentaID))
        //{
        //    SAG2.Models.Cuenta cuenta = db.Cuenta.First(i => i.ID == listado.cuentaID);
        //    cuentas.Add(cuenta);
        //    cuentas.OrderBy(c => c.Orden);
        //}

        <div class="col-md-12" style="overflow-y: scroll;" id="prueba ocultoImpresion">
            <table border="1" class="table table-bordered table-hover">
                <tr>
                    <tH>CONTROL PRESUPUESTARIO</tH>
                    <tH colspan="4">@db.Proyecto.Find(id).NombreLista</tH>

                </tr>
                <tr>

                    <th rowspan="2">CONCEPTO</th>
                    @foreach (var mes in Meses)
                    {
                        <th colspan="4"> @NombreMeses[mes - 1]</th>
                        if (mes == 12)
                        {
               
                        }
                    }
                       @if (ViewBag.Mes > 12)
                            {
                            <th colspan="5">Totales</th>
                            }
                </tr>
                <tr>
                    @foreach (var mes in Meses)
                    {
                        <th class="xlCelda">Pres. $</th>
                        <th class="xlCelda">Real $</th>
                        <th class="xlCelda"> Desv. $</th>
                        <th class="xlCelda"> Desv. %</th>
                        if (mes == 12 || (mes == 6 && mesSeleccion == 13))
                        {
                            if (ViewBag.Mes > 12)
                            {
                            <th class="xlCelda">Pres. $</th>
                            <th class="xlCelda">Real $</th>
                            <th class="xlCelda"> Desv. $</th>
                            <th class="xlCelda"> Desv. %</th>
                            <th class="xlCelda"> % Ingr.</th>
                            }

                        }
                    }
                </tr>
                 <tr>
            <th align="left">SALDO INICIAL</th>
  
            @{
            var i = 1;
            var xSSaldo = ViewBag.SaldoInicial;
            double SSaldo = xSSaldo;
            double SSaldoPre = SSaldo;
             foreach (var mes in Meses)           
             {
                 int tope = int.Parse(mes.ToString());
                 if (i != mes) {
                     saldoInicial[1] = SSaldo;
                     int j = 1;
                     while (j < tope)
                     {
                         // Real
                         double valorIngresos = double.Parse(ingresos.Where(e => (e.CuentaID == 3 || e.CuentaID == 4 || e.CuentaID == 5 || e.CuentaID == 8 || e.CuentaID == 12) && e.Temporal == null && e.Mes == j && e.Periodo == periodo).Sum(m => m.Monto_Ingresos).ToString());
                         double valorEgresos = double.Parse(egresos.Where(e => e.Egreso.Temporal == null && e.Egreso.Mes == j && e.Egreso.Periodo == periodo && (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());
                         double valor_Reintegros = double.Parse(reintegros.Where(e => (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Where(d => d.Mes == j).Where(d => d.Periodo == periodo).Sum(d => d.Monto_Ingresos).ToString());
                                              
                         valorEgresos = valorEgresos - valor_Reintegros;
                         SSaldo = valorIngresos - valorEgresos + SSaldo;
                         
                         // Presupuesto
                         double valorIngresosPresupuesto = double.Parse(presupuestoDetalle.Where(e => (e.CuentaID == 3 || e.CuentaID == 4 || e.CuentaID == 5 || e.CuentaID == 8 || e.CuentaID == 12)  && e.Mes == j && e.Periodo == periodo).Sum(m => m.Monto).ToString());
                         double valorEgresosPresupuesto = double.Parse(presupuestoDetalle.Where(e =>  e.Mes == j && e.Periodo == periodo && (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());
                         SSaldoPre = valorIngresosPresupuesto - valorEgresosPresupuesto + SSaldoPre;
                         
                         j++;
                         saldoInicial[j] = SSaldo;
                         presupuestoInicial[j] = SSaldoPre;
                                          
                     }
                 }
                 double difSaldoInicial = SSaldo - SSaldoPre;
                 double DsIp = 0;
                 if (!SSaldoPre.Equals(0))
                 {
                     DsIp = (difSaldoInicial / SSaldoPre * 100);
                 }
                 
                    <td style=" text-align: right ;font-weight: bold;"> @SSaldoPre.ToString("$#,###")</td>
                    <td style=" text-align: right ;font-weight: bold;"> @SSaldo.ToString("$#,###")</td>
                    <td style=" text-align: right ;font-weight: bold;"> @difSaldoInicial.ToString("$#,###")</td>
                    <td style=" text-align: right ;font-weight: bold;"> @DsIp.ToString("#,##0.0#") %  </td>
             }
            }
           
        </tr>
                <tr style="background-color: silver; text-align: left">
                       <th>INGRESOS</th>
                                   @foreach (var mes in Meses)
                                {
                                    double valorIngresos = double.Parse(ingresos.Where(m => (m.CuentaID == 3 || m.CuentaID == 4 || m.CuentaID == 5 || m.CuentaID == 8 || m.CuentaID == 12) && m.Temporal == null && m.Mes == mes && m.Periodo == periodo).Sum(m => m.Monto_Ingresos).ToString());
                                    double valorPresupuesto = double.Parse(@presupuestoDetalle.Where(p => p.Mes == mes && (p.CuentaID == 3 || p.CuentaID == 4 || p.CuentaID == 5 || p.CuentaID == 8 || p.CuentaID == 12)).Sum(m => m.Monto).ToString());
                                    double valorDif = valorIngresos - valorPresupuesto;
                                    double valorDifPor = 0;
                                    if (!valorPresupuesto.Equals(0)) { 
                                   valorDifPor = (valorDif) / (valorPresupuesto) * 100;
                                    }
                                    totalesPresupuestosIngresos[mes] += valorPresupuesto;
                                    
                                    <th style="background-color: silver; text-align: right;font-weight: bold; "> @valorPresupuesto.ToString("$#,###")</th>
                                    <td style="background-color: silver; text-align: right;font-weight: bold;">
                                        @if (valorIngresos != 0)
                                        {@valorIngresos.ToString("$#,###")
                                        {
                                            totalesIngresos[mes] += valorIngresos;                                         
                                        }
                                    }
                                    else
                                    {@Html.Raw("$0")}
                                    </td>   
                                <th style="background-color: silver; text-align: right;font-weight: bold; "> @valorDif.ToString("$#,###")</th>
                                    <th style="background-color: silver; text-align: right ;font-weight: bold; ">@valorDifPor.ToString("#,##0.0#") %</th>
                                }
                
                </tr>
                <tr>
                    <tH style="background-color: silver; text-align: left">EGRESOS</tH>
                </tr>
                <tr>
                    <th style="background-color: silver; text-align: left">PERSONAL</th>
                                         @foreach (var mes in Meses)
                                {
                                    double valorEgresos = double.Parse(egresos.Where(e => e.Egreso.Temporal == null && e.Egreso.Mes == mes && e.Egreso.Periodo == periodo && (e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41)).Sum(m => m.Monto).ToString());
                                    double valorReintegro = double.Parse(reintegros.Where(e => (e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41)).Where(d => d.Mes == mes).Where(d => d.Periodo == periodo).Sum(d => d.Monto_Ingresos).ToString());
                                    double valorPresupuestoE = double.Parse(presupuestoDetalle.Where(e => e.Mes == mes && e.Periodo == periodo && (e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41)).Sum(m => m.Monto).ToString());
                                    double DifEgresos = ( valorEgresos - valorReintegro)   - valorPresupuestoE;
                                    double DifEgresosPor = (DifEgresos / valorPresupuestoE) * 100;
                                    valorEgresos = valorEgresos - valorReintegro;
                                    totalPresupuestoE[mes] += valorPresupuestoE;
                                    
                                    <td style="text-align: right;font-weight :bold; ">@valorPresupuestoE.ToString("$#,###") </td>
                                    <td style="text-align: right;font-weight :bold; ">
                                        @if (valorEgresos != 0)
                                        {@valorEgresos.ToString("$#,###")
                                            {
                                                totalIngresosEgreso[mes] += valorEgresos;
                                                
                                            }
                                        }
                                        else
                                        {@Html.Raw("$0")}
                                    </td>
                                    <td style="text-align: right;font-weight :bold; ">@DifEgresos.ToString("$#,###") </td>
                                     <td style="text-align: right;font-weight :bold; ">@DifEgresosPor.ToString("#,##0.0#") %</td>
                                    totalPresupuestoE[mes] = 0;
   
                                  

                                }
     
                </tr>
                <tr>
                    <th style="background-color: silver; text-align: left">OPERACIÓN</th>
                                              @foreach (var mes in Meses)
                                {
                                    double valorEgresos = double.Parse(egresos.Where(e => e.Egreso.Temporal == null && e.Egreso.Mes == mes && e.Egreso.Periodo == periodo && (e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());
                                    double valor_Reintegros = double.Parse(reintegros.Where(e => (e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Where(d => d.Mes == mes).Where(d => d.Periodo == periodo).Sum(d => d.Monto_Ingresos).ToString());
                                    valorEgresos = valorEgresos - valor_Reintegros;
                                    double valorPresupuestoE = double.Parse(presupuestoDetalle.Where(e => e.Mes == mes && e.Periodo == periodo && (e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());
                                    double DifEgresos = valorEgresos - valorPresupuestoE;
                                    double DifEgresosPor = 0;
                                    if (!valorPresupuestoE.Equals(0) ){
                                     DifEgresosPor = (DifEgresos / valorPresupuestoE) * 100;}
                                    totalPresupuestoE[mes] += valorPresupuestoE;
                                     
                                    <td style="background-color: silver;text-align: right; font-weight: bold;"> @valorPresupuestoE.ToString("$#,###")</td>   
                                    <td style="background-color: silver;text-align: right; font-weight: bold;">
                                        @if (valorEgresos != 0)
                                        {@valorEgresos.ToString("$#,###")
                                            {
                                                totalIngresosEgreso[mes] += valorEgresos;

                                            }
                                        }
                                        else
                                        {@Html.Raw("$0")}
                                    </td>
                                    <td style="background-color: silver;text-align: right; font-weight: bold;"> @DifEgresos.ToString("$#,###")</td>   
                                    <td style="background-color: silver;text-align: right; font-weight: bold;"> @DifEgresosPor.ToString("#,##0.0#") %</td>             
                                 
                                        totalEgreso[mes] = 0;
                                        totalPresupuestoE[mes] = 0;
                                        totalIngresosEgreso[mes] = 0;
                                        totalPresupuesto[mes] = 0;
                                }
                </tr>
                <tr>
                    <th style="background-color: silver; text-align: left">INVERSIÓN</th>
                                                    @foreach (var mes in Meses)
                                {
                                    double valorEgresos = 0;
                                    double valorPresupuestoE = 0;
                                    foreach (var meses in Meses)
                                    {
                                        valorEgresos += double.Parse(egresos.Where(e => e.Egreso.Temporal == null && e.Egreso.Mes == mes && e.Egreso.Periodo == periodo && (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43)).Sum(m => m.Monto).ToString());
                                        valorPresupuestoE += double.Parse(presupuestoDetalle.Where(e => e.Mes == mes && e.Periodo == periodo && (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43)).Sum(m => m.Monto).ToString());
                                    }



                                    double DifEgresos = valorEgresos - valorPresupuestoE;
                                    double DifEgresosPor = 0;
                                    if (!valorPresupuestoE.Equals(0) ) { 
                                        DifEgresosPor = (DifEgresos / valorPresupuestoE) * 100;
                                    }
                                    <td style="text-align: right; font-weight: bold;">@valorPresupuestoE.ToString("$#,###") </td>
                                    <td style="text-align: right; font-weight: bold;">
                                        @if (valorEgresos != 0)
                                        {@valorEgresos.ToString("$#,###")
                                            {
                                                totalIngresosEgreso[mes] += valorEgresos;
                                                totalPresupuestoE[mes] += valorPresupuestoE;
                                            }
                                        }
                                        else
                                        {@Html.Raw("$0")}
                                    </td>
                                <td style=" text-align: right; font-weight: bold;">@DifEgresos.ToString("$#,###") </td>
                                <td style=" text-align: right; font-weight: bold;">@DifEgresosPor.ToString("#,##0.0#") %</td>
                
            
                                        totalEgreso[mes] = 0;
                                        totalPresupuestoE[mes] = 0;
                                        totalIngresosEgreso[mes] = 0;
                                        totalPresupuesto[mes] = 0;
                                }
                </tr>
                <tr style="background-color: silver; text-align: left">
                    <th style="background-color: silver; text-align: left">Total Egresos</th>
                                                   @foreach (var mes in Meses)
                                {   //valorIngresos
                                    double valorIngresos = double.Parse(ingresos.Where(e => (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79) && e.Temporal == null && e.Mes == mes && e.Periodo == periodo).Sum(m => m.Monto_Ingresos).ToString());
                                    double valorPresupuesto = double.Parse(@presupuestoDetalle.Where(e => e.Mes == mes && (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());

                                    double valorEgresos = double.Parse(egresos.Where(e => e.Egreso.Temporal == null && e.Egreso.Mes == mes && e.Egreso.Periodo == periodo && (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());
                                    double valorReintegroPersonal = double.Parse(reintegros.Where(e => (e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41)).Where(d => d.Mes == mes).Where(d => d.Periodo == periodo).Sum(d => d.Monto_Ingresos).ToString());

                                    double valor_ReintegrosOperacion = double.Parse(reintegros.Where(e => (e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Where(d => d.Mes == mes).Where(d => d.Periodo == periodo).Sum(d => d.Monto_Ingresos).ToString());
                                    double valor_Reintegros = valorReintegroPersonal + valor_ReintegrosOperacion;
                                    valorEgresos = valorEgresos - valor_Reintegros;
                                    double valorPresupuestoE = double.Parse(presupuestoDetalle.Where(e => e.Mes == mes && e.Periodo == periodo && (e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());
                                    double DifEgresos = valorEgresos - valorPresupuestoE;
                                    double DifEgresosPor = (DifEgresos / valorPresupuestoE) * 100;

                                    double valorDif = valorEgresos - valorPresupuesto;
                                    double valorDifPor = (valorDif) / (valorPresupuesto) * 100;
                                    totalesPresupuestosIngresos[mes] += valorPresupuesto;
             
                                    <td style="background-color: silver; text-align: right ;font-weight: bold; ">@valorPresupuesto.ToString("$#,###")</td>
                                    <td style="background-color: silver;text-align: right; font-weight: bold;">
                                        @if (valorEgresos != 0)
                                        {@valorEgresos.ToString("$#,###")
                                        {
                                            totalesIngresos[mes] += valorIngresos;
                                        }
                                    }
                                    else
                                    {@Html.Raw("$0")}
                                    </td>
                                    <td style="background-color: silver; text-align: right ;font-weight: bold; ">@valorDif.ToString("$#,###")</td>
                                    <td style="background-color: silver; text-align: right ;font-weight: bold; ">@valorDifPor.ToString("#,##0.0#") %</td>
                                }
                </tr>
                <tr style="background-color: silver; text-align: left">
                    <th style="background-color: silver; text-align: left">Resultado</th>
                                  @foreach (var mes in Meses)
                                {   //valorIngresos
                                    double valorIngresos = double.Parse(ingresos.Where(e => (e.CuentaID == 3 || e.CuentaID == 4 || e.CuentaID == 5 || e.CuentaID == 8 || e.CuentaID == 12) && e.Temporal == null && e.Mes == mes && e.Periodo == periodo).Sum(m => m.Monto_Ingresos).ToString());
                                    double valorPresupuesto = double.Parse(@presupuestoDetalle.Where(e => e.Mes == mes && (e.CuentaID == 3 || e.CuentaID == 4 || e.CuentaID == 5 || e.CuentaID == 8 || e.CuentaID == 12)).Sum(m => m.Monto).ToString());
                                      
                                    //valorEgresos
                                    double valorEgresos = double.Parse(egresos.Where(e => e.Egreso.Temporal == null && e.Egreso.Mes == mes && e.Egreso.Periodo == periodo && (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());
                                    double valor_Reintegros = double.Parse(reintegros.Where(e => (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Where(d => d.Mes == mes).Where(d => d.Periodo == periodo).Sum(d => d.Monto_Ingresos).ToString());
                                    valorEgresos = valorEgresos - valor_Reintegros;
                                    double valorPresupuestoE = double.Parse(presupuestoDetalle.Where(e => e.Mes == mes && e.Periodo == periodo && (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());
                                    double DifEgresos = valorEgresos - valorPresupuestoE;
                                    double DifEgresosPor = (DifEgresos / valorPresupuestoE) * 100;
                                    double PresupuestoResultado = valorPresupuesto - valorPresupuestoE;
                                    double valorDif = (valorIngresos - valorEgresos) - (valorPresupuesto - valorPresupuestoE);
                                    double valorDifPor = (valorDif) / (valorPresupuesto - valorPresupuestoE) * 100;
                                    totalesPresupuestosIngresos[mes] += valorPresupuesto;
                                    
                                    <td style="text-align: right ;font-weight: bold; ">@PresupuestoResultado.ToString("$#,###")</td>
                                    <td style=" text-align: right; font-weight: bold; ">
                                        @if (valorIngresos - valorEgresos != 0)
                                        {@((valorIngresos - valorEgresos).ToString("$#,###"))
                                        {
                                            //   totalIngresosEgreso[mes] += valorIngresos;
                                            totalesIngresos[mes] += valorIngresos;
                                            
                                        }
                                    }
                                    else
                                    {@Html.Raw("$0")}
                                    </td>
                                    <td style="text-align: right ;font-weight: bold; ">@valorDif.ToString("$#,###")</td>
                                    <td style="text-align: right ;font-weight: bold; ">@valorDifPor.ToString("#,##0.0#") %</td>
                                {
                                    totalEgreso[mes] = 0;
                                    totalPresupuestoE[mes] = 0;
                                    totalIngresosEgreso[mes] = 0;
                                    totalPresupuesto[mes] = 0;
                                }
     



                                    totalEgreso[mes] = 0;
                                    totalPresupuestoE[mes] = 0;
                                    totalIngresosEgreso[mes] = 0;
                                    totalPresupuesto[mes] = 0;
                                }
                </tr>
                <tr>
                    <th style="background-color: silver; text-align: left">FINANCIAMIENTO</th>
                                @foreach (var mes in Meses)
                                {
                                    double valorIngresos = double.Parse(ingresos.Where(m => (m.CuentaID == 10 || m.CuentaID == 14 || m.CuentaID == 16 || m.CuentaID == 17 || m.CuentaID == 17 || m.CuentaID == 158 || m.CuentaID == 20) && m.Temporal == null && m.Mes == mes && m.Periodo == periodo).Sum(m => m.Monto_Ingresos).ToString());
                                    valorIngresos -= double.Parse(ingresos.Where(m => (m.CuentaID == 40 || m.CuentaID == 63 || m.CuentaID == 155 || m.CuentaID == 156 || m.CuentaID == 157) && m.Temporal == null && m.Mes == mes && m.Periodo == periodo).Sum(m => m.Monto_Ingresos).ToString());
                                    double valorPresupuesto = double.Parse(@presupuestoDetalle.Where(p => p.Mes == mes && (p.CuentaID == 10 || p.CuentaID == 14 || p.CuentaID == 16 || p.CuentaID == 17 || p.CuentaID == 17 || p.CuentaID == 158 || p.CuentaID == 20)).Sum(m => m.Monto).ToString());
                                    valorPresupuesto -= double.Parse(@presupuestoDetalle.Where(p => p.Mes == mes && (p.CuentaID == 40 || p.CuentaID == 63 || p.CuentaID == 155 || p.CuentaID == 156 || p.CuentaID == 157)).Sum(m => m.Monto).ToString());
                                    double valorDif = valorIngresos - valorPresupuesto;
                                    double valorDifPor = 0;
                                    if(!valorPresupuesto.Equals(0)){ 
                                    valorDifPor = (valorDif) / (valorPresupuesto) * 100;}
                                    totalesPresupuestosIngresos[mes] += valorPresupuesto;
                                    
                                     <td style="background-color: silver;text-align: right; font-weight: bold;"> @valorPresupuesto.ToString("$#,###")</td>
                                    <td style="background-color: silver;text-align: right; font-weight: bold;">
                                        @if (valorIngresos != 0)
                                        {@valorIngresos.ToString("$#,###")
                                            {
                                                //   totalIngresosEgreso[mes] += valorIngresos;
                                                totalesIngresos[mes] += valorIngresos;

                                            }
                                        }
                                        else
                                        {@Html.Raw("$0")}
                                    </td>
                                        <td style="background-color: silver;text-align: right; font-weight: bold;"> @valorDif.ToString("$#,###")</td>   
                                    <td style="background-color: silver;text-align: right; font-weight: bold;"> @valorDifPor.ToString("#,##0.0#") %</td> 


  
                                }
                </tr>
                <tr style="background-color: silver; text-align: left">
                    <th style="background-color: silver; text-align: left">Saldo Final</th>
                               @foreach (var mes in Meses)
                                {
                                    //saldoInicial[mes] = 0;
                                    presupuestoInicial[mes] = 0;
                                    //valorIngresos
                                    double valorIngresos = double.Parse(ingresos.Where(e => (e.CuentaID == 3 || e.CuentaID == 4 || e.CuentaID == 5 || e.CuentaID == 8 || e.CuentaID == 12) && e.Temporal == null && e.Mes == mes && e.Periodo == periodo).Sum(m => m.Monto_Ingresos).ToString());
                                    double valorPresupuesto = double.Parse(@presupuestoDetalle.Where(e => e.Mes == mes && (e.CuentaID == 3 || e.CuentaID == 4 || e.CuentaID == 5 || e.CuentaID == 8 || e.CuentaID == 12)).Sum(m => m.Monto).ToString());
                                    valorIngresos += double.Parse(ingresos.Where(m => (m.CuentaID == 10 || m.CuentaID == 14 || m.CuentaID == 16 || m.CuentaID == 17 || m.CuentaID == 17 || m.CuentaID == 158 || m.CuentaID == 20) && m.Temporal == null && m.Mes == mes && m.Periodo == periodo).Sum(m => m.Monto_Ingresos).ToString());
                                    valorIngresos -= double.Parse(ingresos.Where(m => (m.CuentaID == 40 || m.CuentaID == 63 || m.CuentaID == 155 || m.CuentaID == 156 || m.CuentaID == 157) && m.Temporal == null && m.Mes == mes && m.Periodo == periodo).Sum(m => m.Monto_Ingresos).ToString());
                                    valorPresupuesto += double.Parse(@presupuestoDetalle.Where(p => p.Mes == mes && (p.CuentaID == 10 || p.CuentaID == 14 || p.CuentaID == 16 || p.CuentaID == 17 || p.CuentaID == 17 || p.CuentaID == 158 || p.CuentaID == 20)).Sum(m => m.Monto).ToString());
                                    valorPresupuesto -= double.Parse(@presupuestoDetalle.Where(p => p.Mes == mes && (p.CuentaID == 40 || p.CuentaID == 63 || p.CuentaID == 155 || p.CuentaID == 156 || p.CuentaID == 157)).Sum(m => m.Monto).ToString());

                                    //valorEgresos
                                    double valorEgresos = double.Parse(egresos.Where(e => e.Egreso.Temporal == null && e.Egreso.Mes == mes && e.Egreso.Periodo == periodo && (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());
                                    double valor_Reintegros = double.Parse(reintegros.Where(e => (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Where(d => d.Mes == mes).Where(d => d.Periodo == periodo).Sum(d => d.Monto_Ingresos).ToString());
                                    valorEgresos = valorEgresos - valor_Reintegros;

                                    double valorPresupuestoE = double.Parse(presupuestoDetalle.Where(e => e.Mes == mes && e.Periodo == periodo && (e.CuentaID == 127 || e.CuentaID == 101 || e.CuentaID == 102 || e.CuentaID == 104 || e.CuentaID == 43 || e.CuentaID == 22 || e.CuentaID == 23 || e.CuentaID == 25 || e.CuentaID == 26 || e.CuentaID == 27 || e.CuentaID == 28 || e.CuentaID == 163 || e.CuentaID == 41 || e.CuentaID == 33 || e.CuentaID == 34 || e.CuentaID == 35 || e.CuentaID == 36 || e.CuentaID == 44 || e.CuentaID == 125 || e.CuentaID == 123 || e.CuentaID == 123 || e.CuentaID == 62 || e.CuentaID == 48 || e.CuentaID == 49 || e.CuentaID == 52 || e.CuentaID == 53 || e.CuentaID == 54 || e.CuentaID == 55 || e.CuentaID == 56 || e.CuentaID == 57 || e.CuentaID == 58 || e.CuentaID == 147 || e.CuentaID == 149 || e.CuentaID == 150 || e.CuentaID == 151 || e.CuentaID == 153 || e.CuentaID == 154 || e.CuentaID == 50 || e.CuentaID == 59 || e.CuentaID == 60 || e.CuentaID == 61 || e.CuentaID == 64 || e.CuentaID == 145 || e.CuentaID == 66 || e.CuentaID == 146 || e.CuentaID == 68 || e.CuentaID == 69 || e.CuentaID == 70 || e.CuentaID == 72 || e.CuentaID == 73 || e.CuentaID == 74 || e.CuentaID == 76 || e.CuentaID == 75 || e.CuentaID == 77 || e.CuentaID == 78 || e.CuentaID == 79)).Sum(m => m.Monto).ToString());
                                    double DifEgresos = valorEgresos - valorPresupuestoE;
                                    double DifEgresosPor = (DifEgresos / valorPresupuestoE) * 100;
                                    double valorPre =  (valorPresupuesto - valorPresupuestoE);
                                    double valorDif = (valorIngresos - valorEgresos) - (valorPresupuesto - valorPresupuestoE);
                                    double valorDifPor = 0;
                                    if (!valorPre.Equals(0)){
                                  valorDifPor = (valorDif) / (valorPresupuesto - valorPresupuestoE) * 100;
                                    }
                                     <td style="background-color: silver;text-align: right; font-weight: bold;"> @valorPre.ToString("$#,###")</td>   
      
                                    <td style="background-color: silver; text-align: right ">
                                        @if (valorIngresos - valorEgresos != 0 && mes == 1)
                                        {
                                            //saldoInicial[mes] = double.Parse((@db.Presupuesto.Where(p => p.Proyecto.ID == id && p.Periodo == periodo).Sum(s => s.SaldoInicial)).ToString());
                                            @((saldoInicial[mes] + (valorIngresos - valorEgresos)).ToString("$#,###"))
                                            { saldoInicial[mes] = double.Parse(((@db.Presupuesto.Where(p => p.Proyecto.ID == id && p.Periodo == periodo).Sum(s => s.SaldoInicial)) + Convert.ToInt32(valorIngresos - valorEgresos)).ToString()); }
                                            {
                                                totalesIngresos[mes] += valorIngresos;
                                                totalesPresupuestosIngresos[mes] += valorPresupuesto;
                                            }
                                        }
                                        else
                                        {
                                            @((saldoInicial[mes] + (valorIngresos - valorEgresos)).ToString("$#,###"))
                                         
                                        }
                                    </td>
                                     <td style="background-color: silver;text-align: right; font-weight: bold;"> @valorDif.ToString("$#,###")</td>   
                                     <td style="background-color: silver;text-align: right; font-weight: bold;"> @valorDifPor.ToString("#,##0.0#") %</td> 
                                        { valorIngresos = 0; valorEgresos = 0; }



                                }
                    


                </tr>
            </table>
        </div>
    }
    catch (Exception)
    {

    }
}
else
{
    <div class="alert alert-danger2 centrado">
        <strong> <i class="fa fa-times-circle-o"></i>
        @Html.Raw("No hay presupuesto para el proyecto")
        </strong>
    </div>
}

 