@{
    Layout = "~/Views/Shared/Entrada.cshtml";
    ViewBag.Title = "Seleccionar proyecto";

    int proyectoID = 0;

    if (@ViewBag.ProyectoUsado != null && @ViewBag.ProyectoUsado != "")
    {
        proyectoID = Int32.Parse(@ViewBag.ProyectoUsado);
    }
}
 <div style="margin: 30px auto; border: 1px solid #DDDDDD; width: 500px; border-radius: 5px; text-align:center; padding: 8px; background:white; box-shadow: 2px 2px 5px #D8D8D8;"><a href="http://www.codeni.cl">
<img src="@Url.Content("~/Content/Images/logo_cdn_2019.PNG")" alt="SAG2" border="0"  style="margin-bottom: 10px; height: 200px;" /></a>

<h2 style="margin-left: 15px;">Seleccionar Proyecto</h2>
@{
    if (ViewBag.Administrador)
    {
        <p style="margin-left: 15px;">Seleccione un Proyecto uno para comenzar a trabajar.</p>
    }
    else
    {
        <p style="margin-left: 15px;">SAG2 ha detectado que usted tiene permisos sobre más de un Proyecto, por favor seleccione uno para comenzar a trabajar.</p>
    }
}
<br />
@using (Html.BeginForm())
{
<fieldset>
    <div class="form-inline">
    <div class="form-group">
       <label>Proyecto</label> 

    <script type="text/javascript">
        $(document).ready(function() {
          $(".js-autocomplete").select2();
        });
    </script>

        <select name="Proyecto" id="Proyecto" class="js-autocomplete" >
            <option value="-1"> - Seleccione proyecto</option>
            @foreach (SAG2.Models.Proyecto Proyecto in ViewBag.Proyectos)
            {
                if (proyectoID == Proyecto.ID)
                {
                    <option selected="selected" value="@Proyecto.ID">@Proyecto.NombreEstado</option>
                }
                else
                {
                    <option value="@Proyecto.ID">@Proyecto.NombreEstado</option>
                }
            }
        </select>
   <br /><br />
        <input type="submit" value="Seleccionar proyecto" class="btn btn-primary" id="elegirProyecto" />
        </div>
</fieldset>
}
</div>