@model IEnumerable<SAG2.Models.Cuenta>
@{
    SAG2.Models.Usuario Usuario = (SAG2.Models.Usuario)Session["Usuario"];
    Layout = "~/Views/Shared/_Layoutinf.cshtml";
    ViewBag.Title = "Formulación de Presupuesto";
    List<SAG2.Models.DetallePresupuesto> dp = (List<SAG2.Models.DetallePresupuesto>)@ViewBag.Detalle;
    SAG2.Models.Cuenta cuentaAnterior = new SAG2.Models.Cuenta();
    int mes_inicio = 1;
    int mes_Termino = ViewBag.MesTermino;
    int periodo_inicio = Int32.Parse(ViewBag.Periodo_Inicio);
    int InicioM = Int32.Parse(ViewBag.InicioMes);
    InicioM = InicioM - 1;
    if (ViewBag.PresupuestoID.Equals(""))
    {
        ViewBag.PresupuestoID = "0";
    }
    var chConfir = "";
    if (ViewBag.comfirmado.Equals("S"))
    {
        chConfir = "checked";
    }
    int mes_actual = DateTime.Now.Month;
    bool subtotales = false;
    var Meses = new string[12]
    {
	    "Ene.",
	    "Feb.",
	    "Mar.",
	    "Abr.",
	    "May.",
	    "Jun.",
	    "Jul.",
	    "Ago.",
	    "Sep.",
	    "Oct.",
	    "Nov.",
	    "Dic."
	};

    /*foreach (var item in dp)
    {
        Response.Write(item.Monto);
    }*/
}
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#GuardarPresupuesto").click(function () {
            if ($("#SaldoInicial").val() == "") {
                //alert("Debe ingresar el saldo inicial");
                //$("#SaldoInicial").focus();
                $("#SaldoInicial").val("0");
                return false;
            } else {
                return true;
            }
        });


    });
</script>
<div class="permisos">
<h2>Formulación de Presupuesto</h2>

@if (!(ViewBag.comfirmado.Equals("S"))){
    using (Html.BeginForm("CargaExcel", "Presupuesto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {      
        <input type="hidden" name="XMesTope" id="XMesTope" value="@ViewBag.MesTermino" />
        <input type="hidden" name="XMesTopeInicio" id="XMesTopeInicio" value="@ViewBag.InicioMes" /> 
        <input type="hidden" name="XperiodoPresupuesto" id="XperiodoPresupuesto" value="@periodo_inicio" />             
        <table class="table table-bordered">
            <tr>
               <th>Archivo</th><td><input type="file" name="file" id="file" /></td><td><input class="btn btn-success"  type="submit" value="Cargar"/></td>
            </tr>
             @if (ViewBag.MensajeCSV != "")
            { 
                <tr>
                  <td colspan="3" style="text-align:center">
                   <label class="alert alert-success" >
                        <h3 >Visualizacion Archivo CSV </h3>
                     </label>     
                    </td> 
              </tr>      
             }
        </table>
    }   
    }
@using (Html.BeginForm())
{
    int x = Model.Count(); 
    <input type="hidden" name="PresupuestoID" id="PresupuestoID" value="@Html.Raw(@ViewBag.PresupuestoID)" />
     <input type="hidden" name="MesTope" id="MesTope" value="@ViewBag.MesTermino" />
    <input type="hidden" name="MesTopeInicio" id="MesTopeInicio" value="@ViewBag.InicioMes" />
 

   <table class="table table-bordered" >
        <tr>
            <th style="text-align: left;width: 20%">
            @if (mes_Termino == 0)
            {
                <label class="alert alert-warning">
                <strong > La fecha de Termino del convenio caduco</strong>
                </label>
            }
            else
            {
                if (mes_Termino < mes_actual)
                {
                    <label class="alert alert-warning">
                    <strong > La fecha de Termino del convenio caduco</strong>
                    </label>
                }
            }

            </th>
            <th style="text-align: center;width: 60%">
                  @if (!Usuario.esUsuario)
                  {

                      <div style="text-align: center;">
                         @if (ViewBag.comfirmado.Equals("S"))
                         {
                             <button type ="button" class="btn btn-warning" id="btn_Confirmar2" >Desconfirmar Presupuesto</button>
                         }
                         else
                         {
                            <button type ="button" class="btn btn-success" id="btn_Confirmar" >Confirmar Presupuesto</button>
                         }
                      </div>
                  }
                  else
                  {
                  <div>
                         @if (ViewBag.comfirmado.Equals("S"))
                         {
                             <label class="alert alert-success"> Presupuesto Confirmado</label>
                         }
    
                  </div>
                  
                  }

            </th>
            <th style="text-align: center;width: 20%">
                   @if (ViewBag.comfirmado.Equals("N"))
                   {
                     
                       <label> <input class="btn btn-primary"  type="submit" value="Guardar" id="GuardarPresupuesto" /></label>
                   }
            </th>
        </tr>
    </table>
    
    
    <table class="table table-bordered table-hover">
        <tr>
            <th>
               Concepto
                <select name="TipoCuenta" id="TipoCuenta" class="TipoCuenta">
                    <option value="I">Ingresos</option>
                    <option value="E">Egresos</option>
                </select> Año 
                <input type="hidden" name="MesInicioPresupuesto" id="MesInicioPresupuesto" class="MesInicioPresupuesto" value="1">
                 <input type="hidden" name="SaldoInicial" id="SaldoInicial"  value="@ViewBag.SaldoInicial">
                <select name="periodoPresupuesto" id="periodoPresupuesto" class="añoPresupuesto">
                    @for (int i = DateTime.Now.Year - 2; i < DateTime.Now.Year + 5; i++)
                    {
                    <option value="@Html.Raw((i).ToString())"@{
                        if (i.ToString().Equals(ViewBag.Periodo_Inicio))
                        {
                            @Html.Raw(" selected=\"selected\"");
                        }
                        }>@Html.Raw((i).ToString())</option>
                    }
                </select>
            </th>
            @for (int i = 0; i < 12; i++)
            {
            <th style="width: 55px;" class="Mes_@{@Html.Raw((i + 1).ToString());}">@Html.Raw(Meses[i])</th>
            }
        </tr>
        <tr>
            <th align="right" >Saldo Inicial: <input type="text" value="@ViewBag.SaldoInicial.ToString("#,##0")" size="7" style="text-align: right;" disabled /></th>
            <th colspan="12"></th>
        </tr>
        @foreach (var cuenta in Model)
        {
            var periodo_actual = periodo_inicio;
            mes_inicio = Int32.Parse(ViewBag.Mes_Inicio);
            if ((cuenta.Padre.ID == 1 || cuenta.Padre.ID == 6))
            {
                if (subtotales)
                {
                <tr class="@Html.Raw("cuenta_" + @cuentaAnterior.Tipo)" style="background-color: Silver;">
                    <th align="left">Total @cuentaAnterior.Nombre</th>
                    @for (int i = 0; i < 12; i++)
                    {
                        <td valign="middle">
                        <input type="text" valorAnterior="0" value="0" padre="@Html.Raw(cuentaAnterior.Padre.ID.ToString())" mes="@Html.Raw((i + 1).ToString())" id="Presupuesto_@{@Html.Raw((i + 1).ToString());}_@{@Html.Raw(cuentaAnterior.ID.ToString());}" name="Presupuesto_@{@Html.Raw((i + 1).ToString());}_@{@Html.Raw(cuentaAnterior.ID.ToString());}" class="Presupuesto" disabled="disabled" size="7" style="font-size: 10px; text-align: right;" />
                        </td>
                    }
                </tr>
                <tr class="@Html.Raw("cuenta_" + @cuentaAnterior.Tipo)"><td colspan="13">&nbsp;</td></tr>
                }
                subtotales = true;
                cuentaAnterior = cuenta;
            }
            <tr class="@Html.Raw("cuenta_" + @cuenta.Tipo) Padre_@{@cuenta.Padre.ID}" cuentaID="@cuenta.ID" @if (cuenta.Hijos.Count > 0)
                                                                                                            {@Html.Raw(" style='background-color: Silver;'");
                                                                                                            }>
            <th align="left"@if (cuenta.Hijos.Count == 0)
                            {@Html.Raw(" style='font-weight: normal;'");
                            }
                            else
                            {@Html.Raw(" class=\"Mostrar\"")} visible="true" cuentaID="@cuenta.ID">@cuenta.NombreLista</th>
            @for (int i = 0; i < 12; i++)
            {
                if (mes_inicio > 12)
                {
                    mes_inicio = 1;
                    periodo_actual = periodo_inicio + 1;
                }
                <td valign="middle">
                    @if (cuenta.Hijos.Count > 0)
                    {
                        if ((cuenta.Padre.ID != 1 && cuenta.Padre.ID != 6))
                        {
                        <input type="text" valorAnterior="0" value="0" padre="@Html.Raw(cuenta.Padre.ID.ToString())" mes="@Html.Raw((i + 1).ToString())" id="Presupuesto_@{@Html.Raw((i + 1).ToString());}_@{@Html.Raw(cuenta.ID.ToString());}" name="Presupuesto_@{@Html.Raw((i + 1).ToString());}_@{@Html.Raw(cuenta.ID.ToString());}" class="Presupuesto" disabled="disabled" size="7" style="font-size: 10px; text-align: right;" />
                        }
                    }
                    else
                    {
                        var value = "0";
                        try
                        {
                            value = dp.Where(d => d.CuentaID == cuenta.ID).Where(d => d.Mes == mes_inicio).Where(d => d.Periodo == periodo_actual).Single().Monto.ToString();
                        }
                        catch (Exception e)
                        { }
                        <input type="text" valorAnterior="@value.ToString()" value="@value.ToString()" padre="@Html.Raw(cuenta.Padre.ID.ToString())" mes="@Html.Raw((i + 1).ToString())" id="Presupuesto_@{@Html.Raw((i + 1).ToString());}_@{@Html.Raw(cuenta.ID.ToString());}" name="Presupuesto_@{@Html.Raw((i + 1).ToString());}_@{@Html.Raw(cuenta.ID.ToString());}" class="Presupuesto" size="7" style="font-size: 10px; text-align: right;" eshoja="true" />
                                                                                                                                                                                                                                                                                                                                                                     if (i == InicioM)
                                                                                                                                                                                                                                                                                                                                                                     {
                            <img src="@Url.Content("~/Content/Images/FlechaDerecha.png")" height="10" width="10" style="vertical-align: middle; cursor: pointer;" class="ReplicarValor" cuenta="@Html.Raw(cuenta.ID.ToString())"  title="Replicar valor" />
                                                                                                                                                                                                                                                                                                                                                                     }
                    }
                </td>
                    mes_inicio++;
            }   
            </tr>
        }
        @if (x != 0)
        {
            <tr class="@Html.Raw("cuenta_" + @cuentaAnterior.Tipo)" style="background-color: Silver;"><th align="left">Total @cuentaAnterior.Nombre</th>
            @for (int i = 0; i < 12; i++)
            {
                            <td valign="middle">
                            <input type="text" valorAnterior="0" value="0" padre="@Html.Raw(cuentaAnterior.Padre.ID.ToString())" mes="@Html.Raw((i + 1).ToString())" id="Presupuesto_@{@Html.Raw((i + 1).ToString());}_@{@Html.Raw(cuentaAnterior.ID.ToString());}" name="Presupuesto_@{@Html.Raw((i + 1).ToString());}_@{@Html.Raw(cuentaAnterior.ID.ToString());}" class="Presupuesto" disabled="disabled" size="7" style="font-size: 10px; text-align: right;" />
                            </td>
            }</tr>
            <tr class="@Html.Raw("cuenta_" + @cuentaAnterior.Tipo)"><td colspan="13">&nbsp;</td></tr>
        }
        
        
    </table>
}
</div>
<script>
    function ConfirmarPresupuesto() {
        url = '@Url.Action("ConfirmacionPresupuesto", "Presupuesto")';
        var PresupuestoID = parseInt($("#PresupuestoID").val());
        $.post(url, { PresupuestoID: PresupuestoID },
       function (data) {
           Swal.fire({
               title: "Confirmado",
               text: "El Presupuesto a sido confirmado",
               icon: "success"
           });
       })
       .success(function () { })
       .error(function () { })
       .complete(function () { });
    }
    ///
    function DesconfirmarPresupuesto() {
        url =  '@Url.Action("DesConfirmacionPresupuesto", "Presupuesto")';
        var PresupuestoID = parseInt($("#PresupuestoID").val());
        $.post(url, { PresupuestoID: PresupuestoID },
            function (data) {
            Swal.fire({
                title: "Desconfirmar Presupuesto",
                text: "El Presupuesto a sido Desconfirmado",
                icon: "success"
            });
    })
    .success(function () { })
    .error(function () { })
    .complete(function () { });
    }



    $(document).ready(function () {
        baseUrl = 'http' + '://' + 'desarrollo.ciudaddelnino.cl';
        $(".ReplicarValor").click(function () {
            var mesTermino = parseInt($("#MesTope").val()) + 1;
            var MesTopeInicio = parseInt($("#MesTopeInicio").val());
            var cuentaID = $(this).attr("cuenta");
            var valor = $("#Presupuesto_" + MesTopeInicio + "_" + cuentaID).val();

            if (valor != "") {
                for (var i = (MesTopeInicio); i < mesTermino; i++) {
                    $("#Presupuesto_" + i + "_" + cuentaID).val(valor).change();
                }
            }
        });

        $("#ChConfirmar").click(function () {
            check = $("#ChConfirmar").prop("checked");
           
            if (check) {

                var dialog = confirm('Confirma Presupuesto?');
                if (dialog) {
                    ConfirmarPresupuesto();
                } else {
                    $("#ChConfirmar").prop("checked", false);
                }

            } else {
                var dialog = confirm('Desconfirma Presupuesto?');
                if (dialog) {
                    DesconfirmarPresupuesto();
                } else {
                    $("#ChConfirmar").prop("checked", true);
                }

            }
        //
    }); 

   
        $("#btn_Confirmar2").click(function () {

            Swal.fire({
                title: "Esta Seguro?",
                text: "Desconfirmar Presupuesto  !",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si!"
            }).then((result) => {
                if (result.isConfirmed) {
                   DesconfirmarPresupuesto();
				    location.reload();

        }
        });
    });

        $("#btn_Confirmar").click(function () {

            Swal.fire({
                title: "Esta Seguro?",
                text: "Confirmar Presupuesto  !",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si!"
            }).then((result) => {
                if (result.isConfirmed) {
                    ConfirmarPresupuesto();
					location.reload();
                }
                });
        });

    });
</script>