@model SAG2.Models.HorasExtras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>HorasExtras</legend>

    <div class="display-label">ProyectoID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProyectoID)
    </div>

    <div class="display-label">Periodo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Periodo)
    </div>

    <div class="display-label">Mes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mes)
    </div>

    <div class="display-label">MontoHorasExtras</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MontoHorasExtras)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
