<script type="text/javascript">
    $(document).ready(function () {
        $(".js-autocomplete").select2();
    });
</script>
@model IEnumerable<SAG2.Models.Proyecto>
@{
    Layout = "~/Views/Shared/_Layoutinf.cshtml";
    ViewBag.Title = "Intervenciones Resumen Anual";
    SAG2.Models.SAG2DB db = new SAG2.Models.SAG2DB();
    //List<SAG2.Models.IntervencionResumen> inter = db.IntervencionResumen.ToList();
    List<SAG2.Models.IntervencionResumen> intervenciones = new List<SAG2.Models.IntervencionResumen>();
    List<SAG2.Models.Region> regiones = db.Region.ToList();
    List<SAG2.Models.TipoProyecto> tipoPro = db.TipoProyecto.ToList();
    List<SAG2.Models.LineasAtencion> linea = db.LineasAtencion.ToList();
    List<SAG2.Models.Comuna> comunas = db.Comuna.ToList();
    List<SAG2.Models.EstadoIntervencion> estadoInt = db.EstadoIntervencion.ToList();
    List<SAG2.Models.Proyecto> pro = db.Proyecto.ToList().FindAll(p => p.Eliminado != "S" && p.Cerrado != "S").OrderBy(p => p.CodCodeni).ToList();
    List<SAG2.Models.EstadoIntervencion> estados = db.EstadoIntervencion.ToList();
    int proyectoID = 0;


    //int Periodo = @ViewBag.Periodo;
    // int Mes = @ViewBag.Mes;
}
<div id="SAGBox" style="width: 100%;">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {

        <fieldset>
            <div class="panel panel-default">
                <div class="panel-body">
                    Seleccionar Año Inicio:
                    <select name="anioInicio" id="anioInicio" class="js-autocomplete" onchange="funcion()">
                        <option selected="selected" value="-1"> - Seleccione Año</option>
                @for (var i = 2024; i <= DateTime.Now.Year ; i++)
                            {
                                <option value="@Html.Raw((@i).ToString())" @if (@ViewBag.periodo == i)
                                                                            {@Html.Raw("selected=\"selected\"")}>@Html.Raw((@i).ToString())</option>
                            }
                    </select><br />
                    <br />
                    Seleccionar Año Hasta:
                    <select name="anioHasta" id="anioHasta" class="js-autocomplete" onchange="funcion()">
                        <option selected="selected" value="-1"> - Seleccione Año</option>
                @for (var i = 2024; i <= DateTime.Now.Year ; i++)
                            {
                                <option value="@Html.Raw((@i).ToString())" @if (@ViewBag.periodo == i)
                                                                            {@Html.Raw("selected=\"selected\"")}>@Html.Raw((@i).ToString())</option>
                            }
                    </select><br />
                    <br />
                    <div class="ocultoImpresion">
                        <a class="btn btn-info" href="@Url.Action("ResultadoAnual", "IntervencionDetalle", new { id = proyectoID })" id="link">Ver Resultados</a>
                    </div>
                </div>
            </div>
        </fieldset>

    }
    <script>
        function funcion() {
            var a = $("#anioInicio").val();
            var b = $("#anioHasta").val();
            $("#link").attr("href", '@Url.Action("ResultadoAnual", "IntervencionDetalle")' + "/?anioInicio=" + a+"&anioHasta="+b);
        }
    </script>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>