<script type="text/javascript">
    $(document).ready(function() {
      $(".js-autocomplete").select2();
    });
</script>

@{
    ViewBag.Title = "Propiedades del sistema";
    var Meses = new string[12]
    {
	    "Enero",
	    "Febrero",
	    "Marzo",
	    "Abril",
	    "Mayo",
	    "Junio",
	    "Julio",
	    "Agosto",
	    "Septiembre",
	    "Octubre",
	    "Noviembre",
	    "Diciembre"
	};
    int filtro = int.Parse(Session["Filtro"].ToString()); 
}
<div class="blog-post">

@Html.Raw(ViewBag.Mensaje)
@using (Html.BeginForm())
{
    var ProyectoSelected = (SAG2.Models.Proyecto)Session["Proyecto"];
    <h3>Información del Proyecto</h3>
    <div class="row form-group">
        <div class="col-md-6">
 <fieldset>
    
    <div class="form-group">
       Nombre
    </div>
    <div class="form-group">
        <select name="Proyecto" id="Proyecto"  class="js-autocomplete" style="width: 400px;">
            <option> - Seleccione proyecto</option>
            @foreach (SAG2.Models.Proyecto Proye in ViewBag.Proyectos)
            { 
            <option value="@Proye.ID" @if (@Proye.ID.Equals(ProyectoSelected.ID))
                                      { @Html.Raw("selected=\"selected\"") }>@Proye.NombreEstado</option>
            }
        </select>
    </div>
    </fieldset>
            </div>
        <div class="col-md-6">
            <fieldset>
    <p style="margin:0;">
        <br /> 
        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
    </p>
</fieldset>
        </div>
</div>
     <div class="row form-group">
       <div class="col-md-4">

         
    <fieldset>
    <h3>Período activo</h3>
   <div class="form-inline" >
    <div class="form-group" style="margin-right: 15px;">
        @Html.Label("Año")
    </div>
    <div class="form-group">
        <input name="PeriodoAnio" value="@Html.Raw(Session["Periodo"].ToString())" readonly="readonly" size="10" class ="form-control" style="width: 150px;"/>
    </div>
   </div>
        <br /><br />
        <div class="form-inline" >
    <div class="form-group" style="margin-right: 15px;">
        @Html.Label("Mes")
    </div>
    <div class="form-group">
        <input name="PeriodoMes" value="@Html.Raw(@Meses[((int)Session["Mes"]) - 1])" readonly="readonly" size="10" class ="form-control" style="width: 150px;" />
    </div>
            </div>
</fieldset>
    </div>
           <div class="col-md-6">
<fieldset>
    <h3>Correlativos de comprobantes (Proy. @ViewBag.Proyecto)</h3>
    <table style="width: 100%;" class ="table table-hover">
        <tr>
            <td style="width: 25%;">
                INGRESOS
            </td>
            <td style="width: 25%;" align="right">
                <strong>@ViewBag.NroIngresos</strong>
            </td>
            <td>
                EGRESOS
            </td>
            <td style="width: 25%;" align="right">
                <strong>@ViewBag.NroEgresos</strong>
            </td>
        </tr>
        <tr>
            <td>
                REINTEGROS
            </td>
            <td align="right">
                <strong>@ViewBag.NroReintegros</strong>
            </td>
            <td>
                DEUDAS PENDIENTES
            </td>
            <td align="right">
                <strong>@ViewBag.NroDeudas</strong>
            </td>
        </tr>
    </table>
</fieldset>
               </div>
         </div>

}
    <hr />
    <div>
@*@using (Html.BeginForm("AplicarFiltro", "Herramientas", null, FormMethod.Post, new { id = "recoverform" }))
{
<div class=""form-group">
    <label>Filtro de Sistema </label><br />
            <select name="filtroSistema" id="filtroSistema"  class="js-autocomplete" style="width: 400px;">
                   
                <option value="1" @if (filtro == 1)
                                {@Html.Raw(" selected=\"selected\"")}> Vigentes</option>

                <option value="2" @if (filtro == 2)
                                {@Html.Raw(" selected=\"selected\"")}> Vigentes y Cerrados</option>
    </select>
</div>
            <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info  btn-block text-uppercase waves-effect waves-light" type="submit">Aplicar Filtro</button>
                    </div>
                </div>
}  *@
                 @using (Html.BeginForm("AplicarFiltro", "Herramientas", null, FormMethod.Post, new { id = "recoverform" }))
                {
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <h3>Filtro de Sistema</h3>
                           
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-6">
                  <select name="filtroSistema" id="filtroSistema"  class="js-autocomplete" style="width: 400px;">
                                      <option value="1" @if (filtro == 1)
                                {@Html.Raw(" selected=\"selected\"")}> Vigentes</option>

                <option value="2" @if (filtro == 2)
                                {@Html.Raw(" selected=\"selected\"")}> Vigentes y Cerrados</option>
                      </select>
                        </div>
                    
                    
                        <div class="col-xs-3">
                            <button class="btn btn-info  btn-block text-uppercase waves-effect waves-light" type="submit">Aplicar Filtro</button>
                        </div>
                    </div>
                }

        </div>
</div>