@model IEnumerable<SAG2.Models.Movimiento>
@{
    Layout = "~/Views/Shared/PopUp.cshtml";
    ViewBag.Title = "Ingresos";
}

@using (Html.BeginForm())
{
    <table>
     <tr>
         <td>Periodo</td>
         <td> <input type="text" class="form-control" placeholder="Busqueda Periodo" id="busqueda" name="busqueda" style="width: 300px;"></td>
         <td>N° Egreso</td>
         <td> <input type="text" class="form-control" placeholder="Busqueda N° Egreso" id="bEgreso" name="begreso" style="width: 300px;"></td>
     </tr>

        <tr>
        <td> <input type="submit" value="Buscar" class="btn btn-success" /></td>
           </tr>
    
        </table>
 <div id="contenido_popup">

   <table class = "table table-hover table-bordered table-condensed">
   <thead class="fixedHeader">
    <tr class="info">
    <th style ="width:33px;" class="controles"></th>
        <th style ="width:80px;">Nº Comp.</th>
        <th style ="width:90px;">Fecha</th>
        <th  style ="width: 168px;">Cuenta</th>
        <th  style ="width: 85px;">Nº Cheque</th>
        <th  style ="width: 88px;">Monto $</th>
        <th style ="width: 68px;">Cta. Cte.</th>
        <th style ="width: 474px;">Glosa</th>
        
    </tr>
   </thead>
 <tbody class="scrollContent">  
@foreach (var item in Model)
{
    var style = "";
        if (item.Nulo != null && item.Nulo.Equals("S"))
        {
            style = " style=\"text-decoration: line-through;\"";
        }
    
        <tr@Html.Raw(style)>
    <td style ="width:33px;">
        <a href="@Url.Action("Edit", "Ingresos", new { id = item.ID })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"><img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
    </td>
        <td style ="width:80px;" align="center">
            @Html.DisplayFor(modelItem => item.NumeroComprobante)
        </td>
        <td style ="width:90px;">
            @item.Fecha.Value.ToShortDateString()
        </td>
        <td style ="width: 168px;">
            @Html.DisplayFor(modelItem => item.Cuenta.NombreLista )
        </td>
        <td style ="width: 85px;" align="right">
            @Html.DisplayFor(modelItem => item.Cheque)
        </td>
        <td align="right">
            <strong>
            $@item.Monto_Ingresos.ToString("#,##0") 
            </strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuentaCorriente.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        
    </tr>
}
     </tbody>
        </table>
    </div>
}