@model IEnumerable<SAG2.Models.Proyecto>

@{
    ViewBag.Title = "Listado Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SAG2.Models.Periodo > dp = new List<SAG2.Models.Periodo>();
    dp = (List<SAG2.Models.Periodo>)@ViewBag.Periodo;
}

<h2>Listado Programas</h2>

<table id="ResultadoTable" class="table table-responsive table-bordered">
    <thead>
        <tr class="label-info">
            <th> Nombre</th>
            <th> Cod.Sename </th>
             <th>Estado </th>
            <th>Periodo Inicio </th>
            <th>Estado </th>
            <th></th>
     </tr>
      </thead>
  <tbody>
@foreach (var item in Model) {
    var Periodo = dp.Where(d => d.ProyectoID == item.ID).OrderByDescending(d => d.ID).FirstOrDefault();
    string Per_final = "";
    try
    {
        if (Periodo.Mes == 12)
        {
            Per_final = ( Periodo.Ano + 1) + "/1";
           
        }
        else
        {
            Per_final = (Periodo.Ano) + "/" + (Periodo.Mes + 1);

        }
    }
    catch {
        Per_final = item.PeriodoInicio +  "/" + @item.MesInicio;
    }
    
    
    
    <tr>
         <td>
             <table><tr><td>
               @Html.DisplayFor(modelItem => item.NombreLista)
            </td></tr></table>
        </td>

        <td>
           <table><tr><td>
            @Html.DisplayFor(modelItem => item.CodSename)
               </td></tr></table>
        </td>
        <td>
            <table><tr><td>
            @item.PeriodoInicio / @item.MesInicio 
                </td></tr></table>
        </td>
        <td>
            <table><tr><td>
            @Per_final
                </td></tr></table>
        </td>
         <td>
               <table><tr><td>
        @if (item.estaEliminado)
        { 
       
            <span class="label label-warning">Eliminado</span>
        
        }else{
            if (item.estaCerrado)
            { 
                <span class="label label-warning">Cerrado</span>
            }else{
                 <span class="label label-success">Vigente</span>
            }}
                   </td></tr></table>
        </td>
            <td>
                <table><tr>
          @if (!(item.estaEliminado) )
            {
                if (!(item.estaCerrado))
            { 
                
                <td>  <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" href="@Url.Action("EliminarListado", "Proyectos", new { id = item.ID })" onclick="return confirm('Realmente desea borrar este Proyecto, se borrara toda la información de la Base de Datos?');"><span class ="fa fa-trash-o fa-fw"></span></a>
               </td><td>
                     <a class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Cerrar" href="@Url.Action("CerrarProyectoListado", "Proyectos", new { id = item.ID })" onclick="return confirm('Al cerrar este Proyecto no podrá realizar más modificaciones, desea continuar?');"><span class ="fa fa-exclamation-triangle fa-fw"></span></a> 
          </td>
          }
          }
         @if (item.estaEliminado)
         {
           <td>  <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Eliminar" href="@Url.Action("Habilitar", "Proyectos", new { id = item.ID })" onclick="return confirm('Realmente desea Habilitar este Proyecto?');"><span class ="fa fa-check fa-fw"></span></a>
        </td>
         }
         else
         {
        if (item.estaCerrado)
        {
          <td>   <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Habilitar" href="@Url.Action("Habilitar", "Proyectos", new { id = item.ID })" onclick="return confirm('Realmente desea Habilitar este Proyecto?');"><span class ="fa fa-check fa-fw"></span></a>
        </td> 
        }
         }
                     </tr></table>
            </td>
        
    </tr>
}
 </tbody>

</table>
<script>
    $(document).ready(function () {


        $('#ResultadoTable').DataTable({
            lengthMenu: [
                [6, 20, 30, -1],
                [6, 20, 30, 'All'],
            ],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            }
        });

    });
</script>
